src/_input/data_uebertragung/_RELATION_BaendeReihen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
<xsd:element name="dataroot">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="_x002A_RELATION_BaendeReihen" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="generated" type="xsd:dateTime"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="_x002A_RELATION_BaendeReihen">
<xsd:annotation>
<xsd:appinfo>
<od:index index-name="*VOKABULAR_Reihe*RELATION_BaendeReihen" index-key="BEZIEHUNG " primary="no" unique="no" clustered="no" order="asc"/>
<od:index index-name="Baende*RELATION_BaendeReihen" index-key="BAND " primary="no" unique="no" clustered="no" order="asc"/>
<od:index index-name="ID" index-key="ID " primary="no" unique="no" clustered="no" order="asc"/>
<od:index index-name="PrimaryKey" index-key="ID " primary="yes" unique="yes" clustered="no" order="asc"/>
<od:index index-name="Reihen*RELATION_BaendeReihen" index-key="REIHE " primary="no" unique="no" clustered="no" order="asc"/>
<od:tableProperty name="PublishToWeb" type="2" value="1"/>
<od:tableProperty name="Orientation" type="2" value="0"/>
<od:tableProperty name="OrderByOn" type="1" value="1"/>
<od:tableProperty name="NameMap" type="11" value="CswOVQAAAACdT+xu9DRuQqrGtWWDeNFXAAAAAGPEP8luGuZAAAAAAAAAAAAqAFIA
RQBMAEEAVABJAE8ATgBfAEIAYQBlAG4AZABlAFIAZQBpAGgAZQBuAAAAAAAAAIPB
ki5ZNfhAlG/+CsBGiekHAAAAnU/sbvQ0bkKqxrVlg3jRV0kARAAAAAAAAACmaj0P
zRsZRpoo6jOGlMJIAAAAAOuNH5DPDuZAAAAAAAAAAABCAGEAZQBuAGQAZQAAAAAA
AAAh+iJRldmnR4DEzBr1YEJrBwAAAKZqPQ/NGxlGmijqM4aUwkhJAEQAAAAAAAAA
hnDnxT7IyEC8zzxy8VyFUAcAAACmaj0PzRsZRpoo6jOGlMJIUwBPAFIAVABJAEUA
UgBUAEkAVABFAEwAAAAAAAAAys2t8MGtwk6I0N7DdgqidwcAAACmaj0PzRsZRpoo
6jOGlMJISgBBAEgAUgAAAAAAAAB27HBukZ0VR77bVYQBIdRbBwAAAJ1P7G70NG5C
qsa1ZYN40VdCAEEATgBEAAAAAAAAAFrg6+fVmzxHhvmYCFfOk6EAAAAAFoNLyMwN
5kAAAAAAAAAAACoAVgBPAEsAQQBCAFUATABBAFIAXwBSAGUAaQBoAGUAAAAAAAAA
gAOC1QAyrU2cLNPFSTKbYgcAAABa4Ovn1Zs8R4b5mAhXzpOhSQBEAAAAAAAAAJPe
yFePHkpBrB67QRyEQ68HAAAAWuDr59WbPEeG+ZgIV86ToUIARQBaAEkARQBIAFUA
TgBHAAAAAAAAAAy26xgpmJ9IqYRGE4anexEHAAAAnU/sbvQ0bkKqxrVlg3jRV0IA
RQBaAEkARQBIAFUATgBHAAAAAAAAAHKuq9xsJrVAk9GgQWhaLcgAAAAAIitIGtAW
5kAAAAAAAAAAAFIAZQBpAGgAZQBuAAAAAAAAAMzl2zdkjvJFoMAfCUGsaRMHAAAA
cq6r3GwmtUCT0aBBaFotyEkARAAAAAAAAADY5smZJC9NT43qyxogJQdTBwAAAHKu
q9xsJrVAk9GgQWhaLchTAE8AUgBUAEkARQBSAE4AQQBNAEUAAAAAAAAA8yR1jCGF
JU2iN3WHPJw5PwcAAACdT+xu9DRuQqrGtWWDeNFXUgBFAEkASABFAAAAAAAAAGAh
KTarytBEuAADDBIC/qQBAAAAHIWH+pAZ5kAAAAAAAAAAAFIAZQBpAGgAZQBuAAAA
AAAAAMZB1gxE7plOlT/q1szkpY8HAAAAnU/sbvQ0bkKqxrVlg3jRV0EATgBNAEUA
UgBLAFUATgBHAEUATgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADAAAAAUAAAAAAAAA
AAAAAAAAAAAAAA==
"/>
<od:tableProperty name="DefaultView" type="2" value="2"/>
<od:tableProperty name="GUID" type="9" value="nU/sbvQ0bkKqxrVlg3jRVw==
"/>
<od:tableProperty name="DisplayViewsOnSharePointSite" type="2" value="1"/>
<od:tableProperty name="TotalsRow" type="1" value="0"/>
<od:tableProperty name="FilterOnLoad" type="1" value="0"/>
<od:tableProperty name="OrderByOnLoad" type="1" value="1"/>
<od:tableProperty name="HideNewField" type="1" value="0"/>
<od:tableProperty name="BackTint" type="6" value="100"/>
<od:tableProperty name="BackShade" type="6" value="100"/>
<od:tableProperty name="ThemeFontIndex" type="4" value="1"/>
<od:tableProperty name="AlternateBackThemeColorIndex" type="4" value="1"/>
<od:tableProperty name="AlternateBackTint" type="6" value="100"/>
<od:tableProperty name="AlternateBackShade" type="6" value="95"/>
<od:tableProperty name="ReadOnlyWhenDisconnected" type="1" value="0"/>
<od:tableProperty name="DatasheetGridlinesThemeColorIndex" type="4" value="3"/>
<od:tableProperty name="DatasheetForeThemeColorIndex" type="4" value="0"/>
<od:tableProperty name="OrderBy" type="12" value="[Lookup_BAND].[SORTIERTITEL], [Lookup_REIHE].[SORTIERNAME], [Lookup_BEZIEHUNG].[BEZIEHUNG]"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ID" minOccurs="1" od:jetType="autonumber" od:sqlSType="int" od:autoUnique="yes" od:nonNullable="yes" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="g8GSLlk1+ECUb/4KwEaJ6Q==
"/>
<od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
<od:fieldProperty name="ColumnOrder" type="3" value="1"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAND" minOccurs="1" od:jetType="longinteger" od:sqlSType="int" od:nonNullable="yes" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="duxwbpGdFUe+21WEASHUWw==
"/>
<od:fieldProperty name="ColumnWidth" type="3" value="2400"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
<od:fieldProperty name="Required" type="1" value="1"/>
<od:fieldProperty name="DisplayControl" type="3" value="111"/>
<od:fieldProperty name="RowSourceType" type="10" value="Table/Query"/>
<od:fieldProperty name="RowSource" type="12" value="SELECT [Baende].[ID], [Baende].[SORTIERTITEL], [Baende].[JAHR] FROM Baende ORDER BY [SORTIERTITEL], [JAHR]; "/>
<od:fieldProperty name="BoundColumn" type="3" value="1"/>
<od:fieldProperty name="ColumnCount" type="3" value="3"/>
<od:fieldProperty name="ColumnHeads" type="1" value="0"/>
<od:fieldProperty name="ColumnWidths" type="10" value="0;5890;1440"/>
<od:fieldProperty name="ListRows" type="3" value="16"/>
<od:fieldProperty name="ListWidth" type="10" value="7330Twip"/>
<od:fieldProperty name="LimitToList" type="1" value="1"/>
<od:fieldProperty name="AllowMultipleValues" type="1" value="0"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AllowValueListEdits" type="1" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEZIEHUNG" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="DLbrGCmYn0iphEYThqd7EQ==
"/>
<od:fieldProperty name="ColumnWidth" type="3" value="5175"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="DisplayControl" type="3" value="111"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
<od:fieldProperty name="RowSourceType" type="10" value="Table/Query"/>
<od:fieldProperty name="RowSource" type="12" value="SELECT [*VOKABULAR_Reihe].[ID], [*VOKABULAR_Reihe].[BEZIEHUNG] FROM [*VOKABULAR_Reihe] ORDER BY [BEZIEHUNG]; "/>
<od:fieldProperty name="BoundColumn" type="3" value="1"/>
<od:fieldProperty name="ColumnCount" type="3" value="2"/>
<od:fieldProperty name="ColumnHeads" type="1" value="0"/>
<od:fieldProperty name="ColumnWidths" type="10" value="0;4540"/>
<od:fieldProperty name="ListRows" type="3" value="16"/>
<od:fieldProperty name="ListWidth" type="10" value="4540Twip"/>
<od:fieldProperty name="LimitToList" type="1" value="1"/>
<od:fieldProperty name="AllowMultipleValues" type="1" value="0"/>
<od:fieldProperty name="AllowValueListEdits" type="1" value="0"/>
<od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="REIHE" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="8yR1jCGFJU2iN3WHPJw5Pw==
"/>
<od:fieldProperty name="ColumnWidth" type="3" value="9660"/>
<od:fieldProperty name="ColumnOrder" type="3" value="4"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="DisplayControl" type="3" value="111"/>
<od:fieldProperty name="RowSourceType" type="10" value="Table/Query"/>
<od:fieldProperty name="RowSource" type="12" value="SELECT [Reihen].[ID], [Reihen].[SORTIERNAME] FROM Reihen ORDER BY [SORTIERNAME]; "/>
<od:fieldProperty name="BoundColumn" type="3" value="1"/>
<od:fieldProperty name="ColumnCount" type="3" value="2"/>
<od:fieldProperty name="ColumnHeads" type="1" value="1"/>
<od:fieldProperty name="ColumnWidths" type="10" value="0;4810"/>
<od:fieldProperty name="ListRows" type="3" value="16"/>
<od:fieldProperty name="ListWidth" type="10" value="4810Twip"/>
<od:fieldProperty name="LimitToList" type="1" value="1"/>
<od:fieldProperty name="AllowMultipleValues" type="1" value="0"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AllowValueListEdits" type="1" value="1"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
<od:fieldProperty name="ListItemsEditForm" type="12" value="Reihen"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANMERKUNGEN" minOccurs="0" od:jetType="memo" od:sqlSType="ntext" od:textFormat="1">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="TextFormat" type="2" value="1"/>
<od:fieldProperty name="GUID" type="9" value="xkHWDETumU6VP+rWzOSljw==
"/>
<od:fieldProperty name="ColumnWidth" type="3" value="10800"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
<od:fieldProperty name="IMEMode" type="2" value="0"/>
<od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
<od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AppendOnly" type="1" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="536870910"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
