musenalmPARSING/source/norm/_RELATION_InhalteAkteure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
<xsd:element name="dataroot">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="_x002A_RELATION_InhalteAkteure" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="generated" type="xsd:dateTime"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="_x002A_RELATION_InhalteAkteure">
<xsd:annotation>
<xsd:appinfo>
<od:index index-name="*VOKABULAR_WerkeAkteure*RELATION_InhalteAkteure" index-key="Beziehung " primary="no" unique="no" clustered="no" order="asc"/>
<od:index index-name="Akteure*RELATION_InhalteAkteure" index-key="Akteur " primary="no" unique="no" clustered="no" order="asc"/>
<od:index index-name="Inhalte*RELATION_InhalteAkteure" index-key="Inhalt " primary="no" unique="no" clustered="no" order="asc"/>
<od:index index-name="PrimaryKey" index-key="Inhalt Beziehung Akteur " primary="yes" unique="yes" clustered="no" order="asc asc asc"/>
<od:tableProperty name="PublishToWeb" type="2" value="1"/>
<od:tableProperty name="Orientation" type="2" value="0"/>
<od:tableProperty name="OrderByOn" type="1" value="0"/>
<od:tableProperty name="NameMap" type="11" value="CswOVQAAAACEnWa0ZKP1TYmiCfzuliwAAAAAALc2oogWAuZAAAAAAAAAAAAqAFIA
RQBMAEEAVABJAE8ATgBfAEkAbgBoAGEAbAB0AGUAQQBrAHQAZQB1AHIAZQAAAAAA
AABD655lSDCURpLMhtHen+e7AAAAAFJnZHwWAuZAAAAAAAAAAABJAG4AaABhAGwA
dABlAAAAAAAAAKzSylOYsIVLgWl0b0cWOtoHAAAAQ+ueZUgwlEaSzIbR3p/nu0kA
RAAAAAAAAADSvEx8wxJ3TYYx+P4WMf+bBwAAAEPrnmVIMJRGksyG0d6f57tCAGEA
bgBkAAAAAAAAAKE0GVoyT7tIu0xelsL1hskHAAAAQ+ueZUgwlEaSzIbR3p/nu08A
YgBqAGUAawB0AG4AdQBtAG0AZQByAAAAAAAAAP8Ypm197xdEtwr/rnmeAYUHAAAA
hJ1mtGSj9U2Jogn87pYsAEkAbgBoAGEAbAB0AAAAAAAAAKIFZ/4TH5FHnWtQKrtz
TdoAAAAA/xt6fhYC5kAAAAAAAAAAACoAVgBPAEsAQQBCAFUATABBAFIAXwBXAGUA
cgBrAGUAQQBrAHQAZQB1AHIAZQAAAAAAAAAFFYFFCH8zS5JjHnLozS8eBwAAAKIF
Z/4TH5FHnWtQKrtzTdpJAEQAAAAAAAAAaqEhmpX1B0eAkcWhRSXuCAcAAACiBWf+
Ex+RR51rUCq7c03aQgBlAHoAaQBlAGgAdQBuAGcAAAAAAAAAD95hFGB3F0SRLj+R
FVplmQcAAACEnWa0ZKP1TYmiCfzuliwAQgBlAHoAaQBlAGgAdQBuAGcAAAAAAAAA
VKVpeu+LYUGVWbghyCVgnAAAAADpQ2WAFgLmQAAAAAAAAAAAQQBrAHQAZQB1AHIA
ZQAAAAAAAADOng4aFaoiTrpVXxjEsH4kBwAAAFSlaXrvi2FBlVm4IcglYJxJAEQA
AAAAAAAASth0QCLbYUmSKc7yJfTLRwcAAABUpWl674thQZVZuCHIJWCcSwBTAG8A
cgB0AGkAZQByAG4AYQBtAGUAAAAAAAAA68RR3yTxuEyhMm8Yup9j0AcAAACEnWa0
ZKP1TYmiCfzuliwAQQBrAHQAZQB1AHIAAAAAAAAA4gfPyoHODUy2zGtzun7nOgcA
AACEnWa0ZKP1TYmiCfzuliwAQQBuAG0AZQByAGsAdQBuAGcAZQBuAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAMAAAABQAAAAAAAAAAAAAAAAAAAAAA
"/>
<od:tableProperty name="DefaultView" type="2" value="2"/>
<od:tableProperty name="GUID" type="9" value="hJ1mtGSj9U2Jogn87pYsAA==
"/>
<od:tableProperty name="DisplayViewsOnSharePointSite" type="2" value="1"/>
<od:tableProperty name="TotalsRow" type="1" value="0"/>
<od:tableProperty name="FilterOnLoad" type="1" value="0"/>
<od:tableProperty name="OrderByOnLoad" type="1" value="1"/>
<od:tableProperty name="HideNewField" type="1" value="0"/>
<od:tableProperty name="BackTint" type="6" value="100"/>
<od:tableProperty name="BackShade" type="6" value="100"/>
<od:tableProperty name="ThemeFontIndex" type="4" value="1"/>
<od:tableProperty name="AlternateBackThemeColorIndex" type="4" value="1"/>
<od:tableProperty name="AlternateBackTint" type="6" value="100"/>
<od:tableProperty name="AlternateBackShade" type="6" value="95"/>
<od:tableProperty name="ReadOnlyWhenDisconnected" type="1" value="0"/>
<od:tableProperty name="DatasheetGridlinesThemeColorIndex" type="4" value="3"/>
<od:tableProperty name="DatasheetForeThemeColorIndex" type="4" value="0"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="Inhalt" minOccurs="1" od:jetType="longinteger" od:sqlSType="int" od:nonNullable="yes" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="/ximbX3vF0S3Cv+ueZ4BhQ==
"/>
<od:fieldProperty name="ColumnWidth" type="3" value="6660"/>
<od:fieldProperty name="ColumnOrder" type="3" value="1"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
<od:fieldProperty name="Required" type="1" value="1"/>
<od:fieldProperty name="DisplayControl" type="3" value="111"/>
<od:fieldProperty name="RowSourceType" type="10" value="Table/Query"/>
<od:fieldProperty name="RowSource" type="12" value="SELECT [Inhalte].[ID], [Inhalte].[Band], [Inhalte].[Objektnummer] FROM Inhalte ORDER BY [Band], [Objektnummer]; "/>
<od:fieldProperty name="BoundColumn" type="3" value="1"/>
<od:fieldProperty name="ColumnCount" type="3" value="3"/>
<od:fieldProperty name="ColumnHeads" type="1" value="0"/>
<od:fieldProperty name="ColumnWidths" type="10" value="0;4320;2865"/>
<od:fieldProperty name="ListRows" type="3" value="16"/>
<od:fieldProperty name="ListWidth" type="10" value="7185Twip"/>
<od:fieldProperty name="LimitToList" type="1" value="1"/>
<od:fieldProperty name="AllowMultipleValues" type="1" value="0"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AllowValueListEdits" type="1" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="Beziehung" minOccurs="1" od:jetType="longinteger" od:sqlSType="int" od:nonNullable="yes" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="D95hFGB3F0SRLj+RFVplmQ==
"/>
<od:fieldProperty name="ColumnWidth" type="3" value="3510"/>
<od:fieldProperty name="ColumnOrder" type="3" value="2"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
<od:fieldProperty name="Required" type="1" value="1"/>
<od:fieldProperty name="DisplayControl" type="3" value="111"/>
<od:fieldProperty name="RowSourceType" type="10" value="Table/Query"/>
<od:fieldProperty name="RowSource" type="12" value="SELECT [*VOKABULAR_WerkeAkteure].[ID], [*VOKABULAR_WerkeAkteure].[Beziehung] FROM [*VOKABULAR_WerkeAkteure] ORDER BY [Beziehung]; "/>
<od:fieldProperty name="BoundColumn" type="3" value="1"/>
<od:fieldProperty name="ColumnCount" type="3" value="2"/>
<od:fieldProperty name="ColumnHeads" type="1" value="0"/>
<od:fieldProperty name="ColumnWidths" type="10" value="0;3240"/>
<od:fieldProperty name="ListRows" type="3" value="16"/>
<od:fieldProperty name="ListWidth" type="10" value="3240Twip"/>
<od:fieldProperty name="LimitToList" type="1" value="1"/>
<od:fieldProperty name="AllowMultipleValues" type="1" value="0"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AllowValueListEdits" type="1" value="1"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="Akteur" minOccurs="1" od:jetType="longinteger" od:sqlSType="int" od:nonNullable="yes" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="68RR3yTxuEyhMm8Yup9j0A==
"/>
<od:fieldProperty name="ColumnWidth" type="3" value="9750"/>
<od:fieldProperty name="ColumnOrder" type="3" value="3"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
<od:fieldProperty name="Required" type="1" value="1"/>
<od:fieldProperty name="DisplayControl" type="3" value="111"/>
<od:fieldProperty name="RowSourceType" type="10" value="Table/Query"/>
<od:fieldProperty name="RowSource" type="12" value="SELECT [Akteure].[ID], [Akteure].[KSortiername] FROM Akteure ORDER BY [KSortiername]; "/>
<od:fieldProperty name="BoundColumn" type="3" value="1"/>
<od:fieldProperty name="ColumnCount" type="3" value="2"/>
<od:fieldProperty name="ColumnHeads" type="1" value="0"/>
<od:fieldProperty name="ColumnWidths" type="10" value="0;6540"/>
<od:fieldProperty name="ListRows" type="3" value="16"/>
<od:fieldProperty name="ListWidth" type="10" value="6540Twip"/>
<od:fieldProperty name="LimitToList" type="1" value="1"/>
<od:fieldProperty name="AllowMultipleValues" type="1" value="0"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AllowValueListEdits" type="1" value="1"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="Anmerkungen" minOccurs="0" od:jetType="memo" od:sqlSType="ntext" od:textFormat="1">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="TextFormat" type="2" value="1"/>
<od:fieldProperty name="GUID" type="9" value="4gfPyoHODUy2zGtzun7nOg==
"/>
<od:fieldProperty name="ColumnWidth" type="3" value="8100"/>
<od:fieldProperty name="ColumnOrder" type="3" value="4"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
<od:fieldProperty name="IMEMode" type="2" value="0"/>
<od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
<od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AppendOnly" type="1" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="536870910"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
