musenalmPARSING/dest/MittelXMLSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
<xsd:element name="dataroot">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="Akteure" minOccurs="0" maxOccurs="unbounded" />
<xsd:element ref="Baende" minOccurs="0" maxOccurs="unbounded" /><xsd:element ref="Inhalte" minOccurs="0" maxOccurs="unbounded" /><xsd:element ref="Reihen" minOccurs="0" maxOccurs="unbounded" /><xsd:element ref="_x002A_RELATION_BaendeAkteure" minOccurs="0" maxOccurs="unbounded" /><xsd:element ref="_x002A_RELATION_BaendeReihen" minOccurs="0" maxOccurs="unbounded" /><xsd:element ref="_x002A_RELATION_InhalteAkteure" minOccurs="0" maxOccurs="unbounded" /></xsd:sequence>
<xsd:attribute name="generated" type="xsd:dateTime" />
</xsd:complexType>
</xsd:element>
<xsd:element name="Akteure">
<xsd:annotation>
<xsd:appinfo>
<od:index index-name="PrimaryKey" index-key="ID " primary="yes" unique="yes" clustered="no" order="asc" />
<od:tableProperty name="PublishToWeb" type="2" value="1" />
<od:tableProperty name="GUID" type="9" value="6WMQChiPyU21McB2KdZdww== " />
<od:tableProperty name="Orientation" type="2" value="0" />
<od:tableProperty name="OrderByOn" type="1" value="0" />
<od:tableProperty name="NameMap" type="11" value="CswOVQAAAADpYxAKGI/JTbUxwHYp1l3DAAAAAKEaCMdwDeZAAAAAAAAAAABBAGsA dABlAHUAcgBlAAAAAAAAAODXDgkzZ5dJnIymih2qu48HAAAA6WMQChiPyU21McB2 KdZdw0kARAAAAAAAAAATFm0xbFDlTLdzUvzrDtMwBwAAAOljEAoYj8lNtTHAdinW XcNOAEEATQBFAAAAAAAAAN8znKn0swNKuAdfknDB/Y0HAAAA6WMQChiPyU21McB2 KdZdw08AUgBHAEEATgBJAFMAQQBUAEkATwBOAAAAAAAAAML68Vn/SxhCjZ0iz7Dv oG4HAAAA6WMQChiPyU21McB2KdZdw0wARQBCAEUATgBTAEQAQQBUAEUATgAAAAAA AAA9yHOUpKLgQobvrNhJDjA2BwAAAOljEAoYj8lNtTHAdinWXcNCAEUAUgBVAEYA AAAAAAAAhtwShcYfTUuvMEhTebN3/gcAAADpYxAKGI/JTbUxwHYp1l3DUABTAEUA VQBEAE8ATgBZAE0AAAAAAAAA3PMUwQMODkiRAtlMvBmeAwcAAADpYxAKGI/JTbUx wHYp1l3DQQBOAE0ARQBSAEsAVQBOAEcARQBOAAAAAAAAAPDmHa6kpdJMjvRQ/5rM pLUHAAAA6WMQChiPyU21McB2KdZdw0cATgBEAAAAAAAAAMyvGVg1mIhOpIIHkkT1 hnYHAAAA6WMQChiPyU21McB2KdZdw04AQQBDAEgAVwBFAEkAUwAAAAAAAAAAAAAA AAAAAAAAAAAAAAAADAAAAAUAAAAAAAAAAAAAAAAAAAAAAA== " />
<od:tableProperty name="DefaultView" type="2" value="2" />
<od:tableProperty name="DisplayViewsOnSharePointSite" type="2" value="1" />
<od:tableProperty name="TotalsRow" type="1" value="0" />
<od:tableProperty name="FilterOnLoad" type="1" value="0" />
<od:tableProperty name="OrderByOnLoad" type="1" value="1" />
<od:tableProperty name="HideNewField" type="1" value="0" />
<od:tableProperty name="BackTint" type="6" value="100" />
<od:tableProperty name="BackShade" type="6" value="100" />
<od:tableProperty name="ThemeFontIndex" type="4" value="1" />
<od:tableProperty name="AlternateBackThemeColorIndex" type="4" value="1" />
<od:tableProperty name="AlternateBackTint" type="6" value="100" />
<od:tableProperty name="AlternateBackShade" type="6" value="95" />
<od:tableProperty name="ReadOnlyWhenDisconnected" type="1" value="0" />
<od:tableProperty name="DatasheetGridlinesThemeColorIndex" type="4" value="3" />
<od:tableProperty name="DatasheetForeThemeColorIndex" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ID" minOccurs="1" od:jetType="autonumber" od:sqlSType="int" od:autoUnique="yes" od:nonNullable="yes" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="4NcOCTNnl0mcjKaKHaq7jw== " />
<od:fieldProperty name="ColumnWidth" type="3" value="-1" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NAME" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="ExZtMWxQ5Uy3c1L86w7TMA== " />
<od:fieldProperty name="ColumnWidth" type="3" value="6440" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="Required" type="1" value="0" />
<od:fieldProperty name="AllowZeroLength" type="1" value="1" />
<od:fieldProperty name="DisplayControl" type="3" value="109" />
<od:fieldProperty name="IMEMode" type="2" value="0" />
<od:fieldProperty name="IMESentenceMode" type="2" value="3" />
<od:fieldProperty name="UnicodeCompression" type="1" value="1" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="255" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="ORGANISATION" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="3zOcqfSzA0q4B1+ScMH9jQ== " />
<od:fieldProperty name="ColumnWidth" type="3" value="-1" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="Format" type="10" value="Yes/No" />
<od:fieldProperty name="DefaultValue" type="12" value="No" />
<od:fieldProperty name="DisplayControl" type="3" value="106" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="LEBENSDATEN" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="wvrxWf9LGEKNnSLPsO+gbg== " />
<od:fieldProperty name="ColumnWidth" type="3" value="-1" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="Required" type="1" value="0" />
<od:fieldProperty name="AllowZeroLength" type="1" value="1" />
<od:fieldProperty name="DisplayControl" type="3" value="109" />
<od:fieldProperty name="IMEMode" type="2" value="0" />
<od:fieldProperty name="IMESentenceMode" type="2" value="3" />
<od:fieldProperty name="UnicodeCompression" type="1" value="1" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="255" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="BERUF" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="PchzlKSi4EKG76zYSQ4wNg== " />
<od:fieldProperty name="ColumnWidth" type="3" value="2940" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="Required" type="1" value="0" />
<od:fieldProperty name="AllowZeroLength" type="1" value="1" />
<od:fieldProperty name="DisplayControl" type="3" value="109" />
<od:fieldProperty name="IMEMode" type="2" value="0" />
<od:fieldProperty name="IMESentenceMode" type="2" value="3" />
<od:fieldProperty name="UnicodeCompression" type="1" value="1" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="255" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="NACHWEIS" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="zK8ZWDWYiE6kggeSRPWGdg== " />
<od:fieldProperty name="ColumnWidth" type="3" value="-1" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="Required" type="1" value="0" />
<od:fieldProperty name="AllowZeroLength" type="1" value="1" />
<od:fieldProperty name="DisplayControl" type="3" value="109" />
<od:fieldProperty name="IMEMode" type="2" value="0" />
<od:fieldProperty name="IMESentenceMode" type="2" value="3" />
<od:fieldProperty name="UnicodeCompression" type="1" value="1" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="255" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="PSEUDONYM" minOccurs="0" od:jetType="memo" od:sqlSType="ntext">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="htwShcYfTUuvMEhTebN3/g== " />
<od:fieldProperty name="ColumnWidth" type="3" value="3140" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="Required" type="1" value="0" />
<od:fieldProperty name="AllowZeroLength" type="1" value="1" />
<od:fieldProperty name="IMEMode" type="2" value="0" />
<od:fieldProperty name="IMESentenceMode" type="2" value="3" />
<od:fieldProperty name="UnicodeCompression" type="1" value="1" />
<od:fieldProperty name="TextFormat" type="2" value="0" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AppendOnly" type="1" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="536870910" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="ANMERKUNGEN" minOccurs="0" od:jetType="memo" od:sqlSType="ntext" od:textFormat="1">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="TextFormat" type="2" value="1" />
<od:fieldProperty name="ColumnWidth" type="3" value="8140" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="Required" type="1" value="0" />
<od:fieldProperty name="AllowZeroLength" type="1" value="1" />
<od:fieldProperty name="IMEMode" type="2" value="0" />
<od:fieldProperty name="IMESentenceMode" type="2" value="3" />
<od:fieldProperty name="UnicodeCompression" type="1" value="1" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AppendOnly" type="1" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
<od:fieldProperty name="GUID" type="9" value="3PMUwQMODkiRAtlMvBmeAw== " />
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="536870910" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="GND" minOccurs="0" od:jetType="memo" od:sqlSType="ntext">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="8OYdrqSl0kyO9FD/msyktQ== " />
<od:fieldProperty name="ColumnWidth" type="3" value="5530" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="Required" type="1" value="0" />
<od:fieldProperty name="AllowZeroLength" type="1" value="1" />
<od:fieldProperty name="IMEMode" type="2" value="0" />
<od:fieldProperty name="IMESentenceMode" type="2" value="3" />
<od:fieldProperty name="UnicodeCompression" type="1" value="1" />
<od:fieldProperty name="TextFormat" type="2" value="0" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AppendOnly" type="1" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="536870910" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="Baende">
<xsd:annotation>
<xsd:appinfo>
<od:index index-name="BIBLIO-ID" index-key="BIBLIO-ID " primary="no" unique="no" clustered="no" order="asc" />
<od:index index-name="PrimaryKey" index-key="ID " primary="yes" unique="yes" clustered="no" order="asc" />
<od:tableProperty name="GUID" type="9" value="pmo9D80bGUaaKOozhpTCSA== " />
<od:tableProperty name="Orientation" type="2" value="0" />
<od:tableProperty name="OrderByOn" type="1" value="0" />
<od:tableProperty name="NameMap" type="11" value="CswOVQAAAACmaj0PzRsZRpoo6jOGlMJIAAAAALsgq4ITDeZAAAAAAAAAAABCAGEA ZQBuAGQAZQAAAAAAAAAh+iJRldmnR4DEzBr1YEJrBwAAAKZqPQ/NGxlGmijqM4aU wkhJAEQAAAAAAAAAHHzCYy5VFU6BbxdmLI3W8gcAAACmaj0PzRsZRpoo6jOGlMJI QgBJAEIATABJAE8ALQBJAEQAAAAAAAAAhnDnxT7IyEC8zzxy8VyFUAcAAACmaj0P zRsZRpoo6jOGlMJIUwBPAFIAVABJAEUAUgBUAEkAVABFAEwAAAAAAAAA0UKPIp5g fEStsTdgl1LfnQcAAACmaj0PzRsZRpoo6jOGlMJIVABJAFQARQBMAAAAAAAAAANR +ZlgPMtFlBnBJuWOOe4HAAAApmo9D80bGUaaKOozhpTCSE8AUgBUAAAAAAAAAMrN rfDBrcJOiNDew3YKoncHAAAApmo9D80bGUaaKOozhpTCSEoAQQBIAFIAAAAAAAAA HkG3MVLKEUuahq55NR/wxwcAAACmaj0PzRsZRpoo6jOGlMJISABFAFIAQQBVAFMA RwBFAEIARQBSAAAAAAAAAJRePIGTvEhKguok2eOt6t4HAAAApmo9D80bGUaaKOoz hpTCSEEAVQBUAE8AUABTAEkARQAAAAAAAACJYq9tSnLjTK1rs/Rd2Lu8BwAAAKZq PQ/NGxlGmijqM4aUwkhTAFQAQQBUAFUAUwAAAAAAAABOl5zgBwkHQbxItI07zdxp BwAAAKZqPQ/NGxlGmijqM4aUwkhOAEEAQwBIAFcARQBJAFMAAAAAAAAAoPd+2POm zEqMdJP6dMspFAcAAACmaj0PzRsZRpoo6jOGlMJIUwBUAFIAVQBLAFQAVQBSAAAA AAAAADUkUni3LOVApmRzTQlAtucHAAAApmo9D80bGUaaKOozhpTCSE4ATwBSAE0A AAAAAAAAMOG8DVLYf0y7LNgJvKHvhAcAAACmaj0PzRsZRpoo6jOGlMJIQQBOAE0A RQBSAEsAVQBOAEcARQBOAAAAAAAAAJ7SVMC2JjJJsO633SrQ/1AHAAAApmo9D80b GUaaKOozhpTCSFIARQBJAEgARQBOAFQASQBUAEUATAAtAEEATABUAAAAAAAAAFN+ 3jySsLJClGP4B1FsUAsHAAAApmo9D80bGUaaKOozhpTCSEUAUgBGAEEAUwBTAFQA AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAwAAAAFAAAAAAAAAAAAAAAAAAAAAAA= " />
<od:tableProperty name="DefaultView" type="2" value="2" />
<od:tableProperty name="DisplayViewsOnSharePointSite" type="2" value="1" />
<od:tableProperty name="TotalsRow" type="1" value="0" />
<od:tableProperty name="FilterOnLoad" type="1" value="0" />
<od:tableProperty name="OrderByOnLoad" type="1" value="1" />
<od:tableProperty name="HideNewField" type="1" value="0" />
<od:tableProperty name="BackTint" type="6" value="100" />
<od:tableProperty name="BackShade" type="6" value="100" />
<od:tableProperty name="ThemeFontIndex" type="4" value="1" />
<od:tableProperty name="AlternateBackThemeColorIndex" type="4" value="1" />
<od:tableProperty name="AlternateBackTint" type="6" value="100" />
<od:tableProperty name="AlternateBackShade" type="6" value="95" />
<od:tableProperty name="ReadOnlyWhenDisconnected" type="1" value="0" />
<od:tableProperty name="DatasheetGridlinesThemeColorIndex" type="4" value="3" />
<od:tableProperty name="DatasheetForeThemeColorIndex" type="4" value="0" />
<od:tableProperty name="PublishToWeb" type="2" value="1" />
</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ID" minOccurs="1" od:jetType="autonumber" od:sqlSType="int" od:autoUnique="yes" od:nonNullable="yes" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="IfoiUZXZp0eAxMwa9WBCaw== " />
<od:fieldProperty name="ColumnWidth" type="3" value="-1" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BIBLIO-ID" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="HHzCYy5VFU6BbxdmLI3W8g== " />
<od:fieldProperty name="ColumnWidth" type="3" value="-1" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="DecimalPlaces" type="2" value="255" />
<od:fieldProperty name="DefaultValue" type="12" value="0" />
<od:fieldProperty name="Required" type="1" value="0" />
<od:fieldProperty name="DisplayControl" type="3" value="109" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="SORTIERTITEL" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="hnDnxT7IyEC8zzxy8VyFUA== " />
<od:fieldProperty name="ColumnWidth" type="3" value="6060" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="Required" type="1" value="0" />
<od:fieldProperty name="AllowZeroLength" type="1" value="1" />
<od:fieldProperty name="DisplayControl" type="3" value="109" />
<od:fieldProperty name="IMEMode" type="2" value="0" />
<od:fieldProperty name="IMESentenceMode" type="2" value="3" />
<od:fieldProperty name="UnicodeCompression" type="1" value="1" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="255" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="TITEL" minOccurs="0" od:jetType="memo" od:sqlSType="ntext">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="0UKPIp5gfEStsTdgl1LfnQ== " />
<od:fieldProperty name="ColumnWidth" type="3" value="8180" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="Required" type="1" value="0" />
<od:fieldProperty name="AllowZeroLength" type="1" value="1" />
<od:fieldProperty name="IMEMode" type="2" value="0" />
<od:fieldProperty name="IMESentenceMode" type="2" value="3" />
<od:fieldProperty name="UnicodeCompression" type="1" value="1" />
<od:fieldProperty name="TextFormat" type="2" value="0" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AppendOnly" type="1" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="536870910" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="ORT" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="A1H5mWA8y0WUGcEm5Y457g== " />
<od:fieldProperty name="ColumnWidth" type="3" value="-1" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="Required" type="1" value="0" />
<od:fieldProperty name="AllowZeroLength" type="1" value="1" />
<od:fieldProperty name="DisplayControl" type="3" value="109" />
<od:fieldProperty name="IMEMode" type="2" value="0" />
<od:fieldProperty name="IMESentenceMode" type="2" value="3" />
<od:fieldProperty name="UnicodeCompression" type="1" value="1" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="255" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="JAHR" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="ys2t8MGtwk6I0N7Ddgqidw== " />
<od:fieldProperty name="ColumnWidth" type="3" value="-1" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="DecimalPlaces" type="2" value="255" />
<od:fieldProperty name="DefaultValue" type="12" value="0" />
<od:fieldProperty name="Required" type="1" value="0" />
<od:fieldProperty name="DisplayControl" type="3" value="109" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="HERAUSGEBER" minOccurs="0" od:jetType="memo" od:sqlSType="ntext">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="HkG3MVLKEUuahq55NR/wxw== " />
<od:fieldProperty name="ColumnWidth" type="3" value="4630" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="Required" type="1" value="0" />
<od:fieldProperty name="AllowZeroLength" type="1" value="1" />
<od:fieldProperty name="IMEMode" type="2" value="0" />
<od:fieldProperty name="IMESentenceMode" type="2" value="3" />
<od:fieldProperty name="UnicodeCompression" type="1" value="1" />
<od:fieldProperty name="TextFormat" type="2" value="0" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AppendOnly" type="1" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="536870910" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="AUTOPSIE" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="DisplayControl" type="3" value="106" />
<od:fieldProperty name="ColumnWidth" type="3" value="-1" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="Format" type="10" value="Yes/No" />
<od:fieldProperty name="DefaultValue" type="12" value="No" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
<od:fieldProperty name="GUID" type="9" value="lF48gZO8SEqC6iTZ463q3g== " />
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ERFASST" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="U37ePJKwskKUY/gHUWxQCw== " />
<od:fieldProperty name="ColumnWidth" type="3" value="-1" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="Format" type="10" value="Yes/No" />
<od:fieldProperty name="DefaultValue" type="12" value="No" />
<od:fieldProperty name="DisplayControl" type="3" value="106" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="STATUS" minOccurs="0" od:jetType="complex" od:jetComplexType="MSysComplexType_Text" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="AllowMultipleValues" type="1" value="1" />
<od:fieldProperty name="GUID" type="9" value="iWKvbUpy40yta7P0Xdi7vA== " />
<od:fieldProperty name="ColumnWidth" type="3" value="-1" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="Required" type="1" value="0" />
<od:fieldProperty name="AllowZeroLength" type="1" value="1" />
<od:fieldProperty name="DisplayControl" type="3" value="111" />
<od:fieldProperty name="RowSourceType" type="10" value="Value List" />
<od:fieldProperty name="RowSource" type="12" value="&quot;Original vorhanden&quot;;&quot;Reprint vorhanden&quot;;&quot;Fremde Herkunft&quot;" />
<od:fieldProperty name="BoundColumn" type="3" value="1" />
<od:fieldProperty name="ColumnCount" type="3" value="1" />
<od:fieldProperty name="ColumnHeads" type="1" value="0" />
<od:fieldProperty name="ColumnWidths" type="10" value="1490" />
<od:fieldProperty name="ListRows" type="3" value="16" />
<od:fieldProperty name="ListWidth" type="10" value="1490Twip" />
<od:fieldProperty name="LimitToList" type="1" value="1" />
<od:fieldProperty name="IMEMode" type="2" value="0" />
<od:fieldProperty name="IMESentenceMode" type="2" value="3" />
<od:fieldProperty name="UnicodeCompression" type="1" value="1" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AllowValueListEdits" type="1" value="1" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="Value" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="255" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NACHWEIS" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="Tpec4AcJB0G8SLSNO83caQ== " />
<od:fieldProperty name="ColumnWidth" type="3" value="6150" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="Required" type="1" value="0" />
<od:fieldProperty name="AllowZeroLength" type="1" value="1" />
<od:fieldProperty name="DisplayControl" type="3" value="109" />
<od:fieldProperty name="IMEMode" type="2" value="0" />
<od:fieldProperty name="IMESentenceMode" type="2" value="3" />
<od:fieldProperty name="UnicodeCompression" type="1" value="1" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="255" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="STRUKTUR" minOccurs="0" od:jetType="memo" od:sqlSType="ntext">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="oPd+2POmzEqMdJP6dMspFA== " />
<od:fieldProperty name="ColumnWidth" type="3" value="6260" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="Required" type="1" value="0" />
<od:fieldProperty name="AllowZeroLength" type="1" value="1" />
<od:fieldProperty name="IMEMode" type="2" value="0" />
<od:fieldProperty name="IMESentenceMode" type="2" value="3" />
<od:fieldProperty name="UnicodeCompression" type="1" value="1" />
<od:fieldProperty name="TextFormat" type="2" value="0" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AppendOnly" type="1" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="536870910" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="NORM" minOccurs="0" od:jetType="memo" od:sqlSType="ntext">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="NSRSeLcs5UCmZHNNCUC25w== " />
<od:fieldProperty name="ColumnWidth" type="3" value="5970" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="Required" type="1" value="0" />
<od:fieldProperty name="AllowZeroLength" type="1" value="1" />
<od:fieldProperty name="IMEMode" type="2" value="0" />
<od:fieldProperty name="IMESentenceMode" type="2" value="3" />
<od:fieldProperty name="UnicodeCompression" type="1" value="1" />
<od:fieldProperty name="TextFormat" type="2" value="0" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AppendOnly" type="1" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="536870910" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="ANMERKUNGEN" minOccurs="0" od:jetType="memo" od:sqlSType="ntext" od:textFormat="1">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="TextFormat" type="2" value="1" />
<od:fieldProperty name="ColumnWidth" type="3" value="29980" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="Required" type="1" value="0" />
<od:fieldProperty name="AllowZeroLength" type="1" value="1" />
<od:fieldProperty name="IMEMode" type="2" value="0" />
<od:fieldProperty name="IMESentenceMode" type="2" value="3" />
<od:fieldProperty name="UnicodeCompression" type="1" value="1" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AppendOnly" type="1" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
<od:fieldProperty name="GUID" type="9" value="MOG8DVLYf0y7LNgJvKHvhA== " />
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="536870910" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="REIHENTITEL-ALT" minOccurs="0" od:jetType="memo" od:sqlSType="ntext">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="ntJUwLYmMkmw7rfdKtD/UA== " />
<od:fieldProperty name="ColumnWidth" type="3" value="-1" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="Required" type="1" value="0" />
<od:fieldProperty name="AllowZeroLength" type="1" value="1" />
<od:fieldProperty name="IMEMode" type="2" value="0" />
<od:fieldProperty name="IMESentenceMode" type="2" value="3" />
<od:fieldProperty name="UnicodeCompression" type="1" value="1" />
<od:fieldProperty name="TextFormat" type="2" value="0" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AppendOnly" type="1" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="536870910" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element><xsd:element name="Inhalte">
<xsd:annotation>
<xsd:appinfo>
<od:index index-name="BaendeInhalte" index-key="BAND " primary="no" unique="no" clustered="no" order="asc" />
<od:index index-name="OBJEKTNUMMER" index-key="OBJEKTNUMMER " primary="no" unique="no" clustered="no" order="asc" />
<od:index index-name="PrimaryKey" index-key="ID " primary="yes" unique="yes" clustered="no" order="asc" />
<od:tableProperty name="PublishToWeb" type="2" value="1" />
<od:tableProperty name="Orientation" type="2" value="0" />
<od:tableProperty name="OrderByOn" type="1" value="0" />
<od:tableProperty name="NameMap" type="11" value="CswOVQAAAAC9HoA/hsk7RY1hTf/rbRliAAAAAIMKSGBPDOZAAAAAAAAAAABJAG4A aABhAGwAdABlAAAAAAAAAO67SZSw28xBo5MUBNxJn6YAAAAAwM0dN04M5kAAAAAA AAAAACoAUgBFAEwAQQBUAEkATwBOAF8ASQBuAGgAYQBsAHQAZQBBAGsAdABlAHUA cgBlAAAAAAAAAAsln6Wea/VDvxRnKTZohSgHAAAAvR6AP4bJO0WNYU3/620ZYkkA RAAAAAAAAACmaj0PzRsZRpoo6jOGlMJIAAAAAGDBht5ODOZAAAAAAAAAAABCAGEA ZQBuAGQAZQAAAAAAAAAh+iJRldmnR4DEzBr1YEJrBwAAAKZqPQ/NGxlGmijqM4aU wkhJAEQAAAAAAAAAhnDnxT7IyEC8zzxy8VyFUAcAAACmaj0PzRsZRpoo6jOGlMJI UwBPAFIAVABJAEUAUgBUAEkAVABFAEwAAAAAAAAA9X46OcbxfEmhSnLVmW2e9gcA AAC9HoA/hsk7RY1hTf/rbRliQgBBAE4ARAAAAAAAAABpb3Svf/+hT4SWe0+DznJt BwAAAL0egD+GyTtFjWFN/+ttGWJPAEIASgBFAEsAVABOAFUATQBNAEUAUgAAAAAA AADPpnSlkofPT4vrRiOHinyuBwAAAL0egD+GyTtFjWFN/+ttGWJUAEkAVABFAEwA AAAAAAAAV6zSZVYJkUuZXB+VWETDcgcAAAC9HoA/hsk7RY1hTf/rbRliQQBVAFQA TwBSAAAAAAAAADS6O2pPWzBDvYYKSqkQjgMHAAAAvR6AP4bJO0WNYU3/620ZYkkA TgBDAEkAUABJAFQAAAAAAAAAN9O72zBakkO3Wp7IM1cwwQcAAAC9HoA/hsk7RY1h Tf/rbRliUwBFAEkAVABFAAAAAAAAAL5hiSkoswpCg6LRjGv5HbkHAAAAvR6AP4bJ O0WNYU3/620ZYlQAWQBQAAAAAAAAACUtm9/BQ6pHiVh+eg043MMHAAAAvR6AP4bJ O0WNYU3/620ZYkQASQBHAEkAVABBAEwASQBTAEEAVAAAAAAAAAD+smUf9q8kT4QS 9Nd9LPO/BwAAAL0egD+GyTtFjWFN/+ttGWJBAE4ATQBFAFIASwBVAE4ARwBFAE4A AAAAAAAAXUbEkJS3kUyFaX9MDCSbxgcAAAC9HoA/hsk7RY1hTf/rbRliUABBAEcA SQBOAEkARQBSAFUATgBHAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMAAAABQAAAAAA AAAAAAAAAAAAAAAA " />
<od:tableProperty name="DefaultView" type="2" value="2" />
<od:tableProperty name="GUID" type="9" value="vR6AP4bJO0WNYU3/620ZYg== " />
<od:tableProperty name="DisplayViewsOnSharePointSite" type="2" value="1" />
<od:tableProperty name="TotalsRow" type="1" value="0" />
<od:tableProperty name="FilterOnLoad" type="1" value="0" />
<od:tableProperty name="OrderByOnLoad" type="1" value="1" />
<od:tableProperty name="HideNewField" type="1" value="0" />
<od:tableProperty name="BackTint" type="6" value="100" />
<od:tableProperty name="BackShade" type="6" value="100" />
<od:tableProperty name="ThemeFontIndex" type="4" value="1" />
<od:tableProperty name="AlternateBackThemeColorIndex" type="4" value="1" />
<od:tableProperty name="AlternateBackTint" type="6" value="100" />
<od:tableProperty name="AlternateBackShade" type="6" value="95" />
<od:tableProperty name="ReadOnlyWhenDisconnected" type="1" value="0" />
<od:tableProperty name="DatasheetGridlinesThemeColorIndex" type="4" value="3" />
<od:tableProperty name="DatasheetForeThemeColorIndex" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ID" minOccurs="1" od:jetType="autonumber" od:sqlSType="int" od:autoUnique="yes" od:nonNullable="yes" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="ColumnWidth" type="3" value="-1" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
<od:fieldProperty name="GUID" type="9" value="CyWfpZ5r9UO/FGcpNmiFKA== " />
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAND" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="9X46OcbxfEmhSnLVmW2e9g== " />
<od:fieldProperty name="ColumnWidth" type="3" value="2110" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="DecimalPlaces" type="2" value="255" />
<od:fieldProperty name="Required" type="1" value="0" />
<od:fieldProperty name="DisplayControl" type="3" value="111" />
<od:fieldProperty name="RowSourceType" type="10" value="Table/Query" />
<od:fieldProperty name="RowSource" type="12" value="SELECT [Baende].[ID], [Baende].[SORTIERTITEL] FROM Baende ORDER BY [SORTIERTITEL], [ID]; " />
<od:fieldProperty name="BoundColumn" type="3" value="1" />
<od:fieldProperty name="ColumnCount" type="3" value="2" />
<od:fieldProperty name="ColumnHeads" type="1" value="0" />
<od:fieldProperty name="ColumnWidths" type="10" value="0;7210" />
<od:fieldProperty name="ListRows" type="3" value="16" />
<od:fieldProperty name="ListWidth" type="10" value="7210Twip" />
<od:fieldProperty name="LimitToList" type="1" value="1" />
<od:fieldProperty name="AllowMultipleValues" type="1" value="0" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AllowValueListEdits" type="1" value="1" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="OBJEKTNUMMER" minOccurs="0" od:jetType="decimal" od:sqlSType="decimal">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="aW90r3//oU+ElntPg85ybQ== " />
<od:fieldProperty name="ColumnWidth" type="3" value="-1" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="DecimalPlaces" type="2" value="255" />
<od:fieldProperty name="DefaultValue" type="12" value="0" />
<od:fieldProperty name="Required" type="1" value="0" />
<od:fieldProperty name="DisplayControl" type="3" value="109" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="18" />
<xsd:fractionDigits value="8" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="TITEL" minOccurs="0" od:jetType="memo" od:sqlSType="ntext">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="z6Z0pZKHz0+L60Yjh4p8rg== " />
<od:fieldProperty name="ColumnWidth" type="3" value="4430" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="Required" type="1" value="0" />
<od:fieldProperty name="AllowZeroLength" type="1" value="1" />
<od:fieldProperty name="IMEMode" type="2" value="0" />
<od:fieldProperty name="IMESentenceMode" type="2" value="3" />
<od:fieldProperty name="UnicodeCompression" type="1" value="1" />
<od:fieldProperty name="TextFormat" type="2" value="0" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AppendOnly" type="1" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="536870910" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="AUTOR" minOccurs="0" od:jetType="memo" od:sqlSType="ntext">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="V6zSZVYJkUuZXB+VWETDcg== " />
<od:fieldProperty name="ColumnWidth" type="3" value="6030" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="Required" type="1" value="0" />
<od:fieldProperty name="AllowZeroLength" type="1" value="1" />
<od:fieldProperty name="IMEMode" type="2" value="0" />
<od:fieldProperty name="IMESentenceMode" type="2" value="3" />
<od:fieldProperty name="UnicodeCompression" type="1" value="1" />
<od:fieldProperty name="TextFormat" type="2" value="0" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AppendOnly" type="1" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="536870910" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="INCIPIT" minOccurs="0" od:jetType="memo" od:sqlSType="ntext">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="NLo7ak9bMEO9hgpKqRCOAw== " />
<od:fieldProperty name="ColumnWidth" type="3" value="5280" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="Required" type="1" value="0" />
<od:fieldProperty name="AllowZeroLength" type="1" value="1" />
<od:fieldProperty name="IMEMode" type="2" value="0" />
<od:fieldProperty name="IMESentenceMode" type="2" value="3" />
<od:fieldProperty name="UnicodeCompression" type="1" value="1" />
<od:fieldProperty name="TextFormat" type="2" value="0" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AppendOnly" type="1" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="536870910" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="PAGINIERUNG" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="XUbEkJS3kUyFaX9MDCSbxg== " />
<od:fieldProperty name="ColumnWidth" type="3" value="-1" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="Required" type="1" value="0" />
<od:fieldProperty name="AllowZeroLength" type="1" value="1" />
<od:fieldProperty name="DisplayControl" type="3" value="111" />
<od:fieldProperty name="RowSourceType" type="10" value="Value List" />
<od:fieldProperty name="RowSource" type="12" value="&quot;ar&quot;;&quot;röm&quot;;&quot;ar1&quot;;&quot;ar2&quot;;&quot;ar3&quot;;&quot;ar4&quot;;&quot;ar5&quot;;&quot;ar6&quot;;&quot;ar7&quot;;&quot;röm1&quot;;&quot;röm2&quot;;&quot;röm3&quot;;&quot;röm4&quot;;&quot;sonst&quot;" />
<od:fieldProperty name="BoundColumn" type="3" value="1" />
<od:fieldProperty name="ColumnCount" type="3" value="1" />
<od:fieldProperty name="ColumnHeads" type="1" value="0" />
<od:fieldProperty name="ColumnWidths" type="10" value="1440" />
<od:fieldProperty name="ListRows" type="3" value="16" />
<od:fieldProperty name="ListWidth" type="10" value="1440Twip" />
<od:fieldProperty name="LimitToList" type="1" value="1" />
<od:fieldProperty name="IMEMode" type="2" value="0" />
<od:fieldProperty name="IMESentenceMode" type="2" value="3" />
<od:fieldProperty name="UnicodeCompression" type="1" value="1" />
<od:fieldProperty name="AllowMultipleValues" type="1" value="0" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AllowValueListEdits" type="1" value="1" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="255" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="SEITE" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="N9O72zBakkO3Wp7IM1cwwQ== " />
<od:fieldProperty name="ColumnWidth" type="3" value="-1" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="Required" type="1" value="0" />
<od:fieldProperty name="AllowZeroLength" type="1" value="1" />
<od:fieldProperty name="DisplayControl" type="3" value="109" />
<od:fieldProperty name="IMEMode" type="2" value="0" />
<od:fieldProperty name="IMESentenceMode" type="2" value="3" />
<od:fieldProperty name="UnicodeCompression" type="1" value="1" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="255" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="TYP" minOccurs="0" od:jetType="complex" od:jetComplexType="MSysComplexType_Text" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="AllowMultipleValues" type="1" value="1" />
<od:fieldProperty name="GUID" type="9" value="vmGJKSizCkKDotGMa/kduQ== " />
<od:fieldProperty name="ColumnWidth" type="3" value="-1" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="Required" type="1" value="0" />
<od:fieldProperty name="AllowZeroLength" type="1" value="1" />
<od:fieldProperty name="DisplayControl" type="3" value="111" />
<od:fieldProperty name="RowSourceType" type="10" value="Value List" />
<od:fieldProperty name="RowSource" type="12" value="&quot;Corrigenda&quot;;&quot;Diagramm&quot;;&quot;Gedicht/Lied&quot;;&quot;Graphik&quot;;&quot;Graphik-Verzeichnis&quot;;&quot;graph. Anleitung&quot;;&quot;graph. Strickanleitung&quot;;&quot;graph. Tanzanleitung&quot;;&quot;Inhaltsverzeichnis&quot;;&quot;Kalendarium&quot;;&quot;Karte&quot;;&quot;Musikbeigabe&quot;;&quot;Musikbeigaben-Verzeichnis&quot;;&quot;Motto&quot;;&quot;Prosa&quot;;&quot;Rätsel&quot;;&quot;Sammlung&quot;;&quot;Spiegel&quot;;&quot;szen. Darstellung&quot;;&quot;Tabelle&quot;;&quot;Tafel&quot;;&quot;Titel&quot;;&quot;Text&quot;;&quot;Trinkspruch&quot;;&quot;Umschlag&quot;;&quot;Widmung&quot;" />
<od:fieldProperty name="BoundColumn" type="3" value="1" />
<od:fieldProperty name="ColumnCount" type="3" value="1" />
<od:fieldProperty name="ColumnHeads" type="1" value="0" />
<od:fieldProperty name="ColumnWidths" type="10" value="1440" />
<od:fieldProperty name="ListRows" type="3" value="16" />
<od:fieldProperty name="ListWidth" type="10" value="1440Twip" />
<od:fieldProperty name="LimitToList" type="1" value="1" />
<od:fieldProperty name="IMEMode" type="2" value="0" />
<od:fieldProperty name="IMESentenceMode" type="2" value="3" />
<od:fieldProperty name="UnicodeCompression" type="1" value="1" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AllowValueListEdits" type="1" value="1" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="Value" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="255" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DIGITALISAT" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="JS2b38FDqkeJWH56DTjcww== " />
<od:fieldProperty name="ColumnWidth" type="3" value="-1" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="Format" type="10" value="Yes/No" />
<od:fieldProperty name="DefaultValue" type="12" value="No" />
<od:fieldProperty name="DisplayControl" type="3" value="106" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANMERKUNGEN" minOccurs="0" od:jetType="memo" od:sqlSType="ntext" od:textFormat="1">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="TextFormat" type="2" value="1" />
<od:fieldProperty name="ColumnWidth" type="3" value="6510" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="Required" type="1" value="0" />
<od:fieldProperty name="AllowZeroLength" type="1" value="1" />
<od:fieldProperty name="IMEMode" type="2" value="0" />
<od:fieldProperty name="IMESentenceMode" type="2" value="3" />
<od:fieldProperty name="UnicodeCompression" type="1" value="1" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AppendOnly" type="1" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
<od:fieldProperty name="GUID" type="9" value="/rJlH/avJE+EEvTXfSzzvw== " />
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="536870910" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element><xsd:element name="Reihen">
<xsd:annotation>
<xsd:appinfo>
<od:index index-name="PrimaryKey" index-key="ID " primary="yes" unique="yes" clustered="no" order="asc" />
<od:tableProperty name="PublishToWeb" type="2" value="1" />
<od:tableProperty name="Orientation" type="2" value="0" />
<od:tableProperty name="OrderByOn" type="1" value="0" />
<od:tableProperty name="NameMap" type="11" value="CswOVQAAAAByrqvcbCa1QJPRoEFoWi3IAAAAAIOVzmBODOZAAAAAAAAAAABSAGUA aQBoAGUAbgAAAAAAAACdT+xu9DRuQqrGtWWDeNFXAAAAAITaDRZODOZAAAAAAAAA AAAqAFIARQBMAEEAVABJAE8ATgBfAEIAYQBlAG4AZABlAFIAZQBpAGgAZQBuAAAA AAAAAMzl2zdkjvJFoMAfCUGsaRMHAAAAcq6r3GwmtUCT0aBBaFotyEkARAAAAAAA AAB574HgyEinQJpDYxEKAFFTBwAAAHKuq9xsJrVAk9GgQWhaLchOAEEATQBFAAAA AAAAANjmyZkkL01PjerLGiAlB1MHAAAAcq6r3GwmtUCT0aBBaFotyFMATwBSAFQA SQBFAFIATgBBAE0ARQAAAAAAAACQHNAYlV8dTKqpghhEZ3RLBwAAAHKuq9xsJrVA k9GgQWhaLchBAE4ATQBFAFIASwBVAE4ARwBFAE4AAAAAAAAAAAAAAAAAAAAAAAAA AAAAAAwAAAAFAAAAAAAAAAAAAAAAAAAAAAA= " />
<od:tableProperty name="DefaultView" type="2" value="2" />
<od:tableProperty name="DisplayViewsOnSharePointSite" type="2" value="1" />
<od:tableProperty name="TotalsRow" type="1" value="0" />
<od:tableProperty name="FilterOnLoad" type="1" value="0" />
<od:tableProperty name="OrderByOnLoad" type="1" value="1" />
<od:tableProperty name="HideNewField" type="1" value="0" />
<od:tableProperty name="BackTint" type="6" value="100" />
<od:tableProperty name="BackShade" type="6" value="100" />
<od:tableProperty name="ThemeFontIndex" type="4" value="1" />
<od:tableProperty name="AlternateBackThemeColorIndex" type="4" value="1" />
<od:tableProperty name="AlternateBackTint" type="6" value="100" />
<od:tableProperty name="AlternateBackShade" type="6" value="95" />
<od:tableProperty name="ReadOnlyWhenDisconnected" type="1" value="0" />
<od:tableProperty name="DatasheetGridlinesThemeColorIndex" type="4" value="3" />
<od:tableProperty name="DatasheetForeThemeColorIndex" type="4" value="0" />
<od:tableProperty name="GUID" type="9" value="cq6r3GwmtUCT0aBBaFotyA== " />
</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ID" minOccurs="1" od:jetType="autonumber" od:sqlSType="int" od:autoUnique="yes" od:nonNullable="yes" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="ColumnWidth" type="3" value="-1" />
<od:fieldProperty name="ColumnOrder" type="3" value="1" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
<od:fieldProperty name="GUID" type="9" value="zOXbN2SO8kWgwB8JQaxpEw== " />
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="NAME" minOccurs="0" od:jetType="memo" od:sqlSType="ntext">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="ColumnWidth" type="3" value="7584" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="Required" type="1" value="0" />
<od:fieldProperty name="AllowZeroLength" type="1" value="1" />
<od:fieldProperty name="IMEMode" type="2" value="0" />
<od:fieldProperty name="IMESentenceMode" type="2" value="3" />
<od:fieldProperty name="UnicodeCompression" type="1" value="1" />
<od:fieldProperty name="TextFormat" type="2" value="0" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AppendOnly" type="1" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
<od:fieldProperty name="GUID" type="9" value="ee+B4MhIp0CaQ2MRCgBRUw== " />
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="536870910" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="SORTIERNAME" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="2ObJmSQvTU+N6ssaICUHUw== " />
<od:fieldProperty name="ColumnWidth" type="3" value="-1" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="Required" type="1" value="0" />
<od:fieldProperty name="AllowZeroLength" type="1" value="1" />
<od:fieldProperty name="DisplayControl" type="3" value="109" />
<od:fieldProperty name="IMEMode" type="2" value="0" />
<od:fieldProperty name="IMESentenceMode" type="2" value="3" />
<od:fieldProperty name="UnicodeCompression" type="1" value="1" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="255" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="Anmerkungen" minOccurs="0" od:jetType="memo" od:sqlSType="ntext" od:textFormat="1">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="TextFormat" type="2" value="1" />
<od:fieldProperty name="ColumnWidth" type="3" value="5784" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="Required" type="1" value="0" />
<od:fieldProperty name="AllowZeroLength" type="1" value="1" />
<od:fieldProperty name="IMEMode" type="2" value="0" />
<od:fieldProperty name="IMESentenceMode" type="2" value="3" />
<od:fieldProperty name="UnicodeCompression" type="1" value="1" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AppendOnly" type="1" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
<od:fieldProperty name="GUID" type="9" value="kBzQGJVfHUyqqYIYRGd0Sw== " />
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="536870910" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element><xsd:element name="_x002A_RELATION_BaendeAkteure">
<xsd:annotation>
<xsd:appinfo>
<od:index index-name="*VOKABULAR_WerkeAkteure*RELATION_BaendeAkteure" index-key="BEZIEHUNG " primary="no" unique="no" clustered="no" order="asc" />
<od:index index-name="Akteure*RELATION_BaendeAkteure" index-key="AKTEUR " primary="no" unique="no" clustered="no" order="asc" />
<od:index index-name="Baende*RELATION_BaendeAkteure" index-key="BAND " primary="no" unique="no" clustered="no" order="asc" />
<od:index index-name="PrimaryKey" index-key="BAND BEZIEHUNG AKTEUR " primary="yes" unique="yes" clustered="no" order="asc asc asc" />
<od:tableProperty name="PublishToWeb" type="2" value="1" />
<od:tableProperty name="Orientation" type="2" value="0" />
<od:tableProperty name="OrderByOn" type="1" value="0" />
<od:tableProperty name="NameMap" type="11" value="CswOVQAAAAC/d+Hpw81bRoWm5s/mYFA8AAAAANuT/I8TDeZAAAAAAAAAAAAqAFIA RQBMAEEAVABJAE8ATgBfAEIAYQBlAG4AZABlAEEAawB0AGUAdQByAGUAAAAAAAAA pmo9D80bGUaaKOozhpTCSAAAAADuuyKIEw3mQAAAAAAAAAAAQgBhAGUAbgBkAGUA AAAAAAAAIfoiUZXZp0eAxMwa9WBCawcAAACmaj0PzRsZRpoo6jOGlMJISQBEAAAA AAAAAIZw58U+yMhAvM88cvFchVAHAAAApmo9D80bGUaaKOozhpTCSFMATwBSAFQA SQBFAFIAVABJAFQARQBMAAAAAAAAAMrNrfDBrcJOiNDew3YKoncHAAAApmo9D80b GUaaKOozhpTCSEoAQQBIAFIAAAAAAAAAmOFcWigtZku+NzBiKA3xQwcAAAC/d+Hp w81bRoWm5s/mYFA8QgBBAE4ARAAAAAAAAACUGxr25fvPSI0Vjzw18Sz4AAAAALe1 IogTDeZAAAAAAAAAAAAqAFYATwBLAEEAQgBVAEwAQQBSAF8AVwBlAHIAawBlAEEA awB0AGUAdQByAGUAAAAAAAAAVL19wH9klEefxYHmsrGGuQcAAACUGxr25fvPSI0V jzw18Sz4SQBEAAAAAAAAAD4CM6k4lutPkM0ngqb1eFIHAAAAlBsa9uX7z0iNFY88 NfEs+EIAZQB6AGkAZQBoAHUAbgBnAAAAAAAAANv3P5x84ENItyAP/wjs7LoHAAAA v3fh6cPNW0aFpubP5mBQPEIARQBaAEkARQBIAFUATgBHAAAAAAAAAOljEAoYj8lN tTHAdinWXcMAAAAA7rsiiBMN5kAAAAAAAAAAAEEAawB0AGUAdQByAGUAAAAAAAAA 4NcOCTNnl0mcjKaKHaq7jwcAAADpYxAKGI/JTbUxwHYp1l3DSQBEAAAAAAAAABMW bTFsUOVMt3NS/OsO0zAHAAAA6WMQChiPyU21McB2KdZdw04AYQBtAGUAAAAAAAAA IlS++nTmFkOJ2cLDq06+lAcAAAC/d+Hpw81bRoWm5s/mYFA8QQBLAFQARQBVAFIA AAAAAAAA/sLxfe5OjUe1QtPWGDyTQgcAAAC/d+Hpw81bRoWm5s/mYFA8QQBOAE0A RQBSAEsAVQBOAEcAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAwAAAAFAAAAAAAAAAAA AAAAAAAAAAA= " />
<od:tableProperty name="DefaultView" type="2" value="2" />
<od:tableProperty name="GUID" type="9" value="v3fh6cPNW0aFpubP5mBQPA== " />
<od:tableProperty name="DisplayViewsOnSharePointSite" type="2" value="1" />
<od:tableProperty name="TotalsRow" type="1" value="0" />
<od:tableProperty name="FilterOnLoad" type="1" value="0" />
<od:tableProperty name="OrderByOnLoad" type="1" value="1" />
<od:tableProperty name="HideNewField" type="1" value="0" />
<od:tableProperty name="BackTint" type="6" value="100" />
<od:tableProperty name="BackShade" type="6" value="100" />
<od:tableProperty name="ThemeFontIndex" type="4" value="1" />
<od:tableProperty name="AlternateBackThemeColorIndex" type="4" value="1" />
<od:tableProperty name="AlternateBackTint" type="6" value="100" />
<od:tableProperty name="AlternateBackShade" type="6" value="95" />
<od:tableProperty name="ReadOnlyWhenDisconnected" type="1" value="0" />
<od:tableProperty name="DatasheetGridlinesThemeColorIndex" type="4" value="3" />
<od:tableProperty name="DatasheetForeThemeColorIndex" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAND" minOccurs="1" od:jetType="longinteger" od:sqlSType="int" od:nonNullable="yes" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="mOFcWigtZku+NzBiKA3xQw== " />
<od:fieldProperty name="ColumnWidth" type="3" value="-1" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="DecimalPlaces" type="2" value="255" />
<od:fieldProperty name="Required" type="1" value="1" />
<od:fieldProperty name="DisplayControl" type="3" value="111" />
<od:fieldProperty name="RowSourceType" type="10" value="Table/Query" />
<od:fieldProperty name="RowSource" type="12" value="SELECT [Baende].[ID], [Baende].[SORTIERTITEL], [Baende].[JAHR] FROM Baende ORDER BY [SORTIERTITEL], [JAHR]; " />
<od:fieldProperty name="BoundColumn" type="3" value="1" />
<od:fieldProperty name="ColumnCount" type="3" value="3" />
<od:fieldProperty name="ColumnHeads" type="1" value="0" />
<od:fieldProperty name="ColumnWidths" type="10" value="0;5300;1440" />
<od:fieldProperty name="ListRows" type="3" value="16" />
<od:fieldProperty name="ListWidth" type="10" value="6740Twip" />
<od:fieldProperty name="LimitToList" type="1" value="1" />
<od:fieldProperty name="AllowMultipleValues" type="1" value="0" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AllowValueListEdits" type="1" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEZIEHUNG" minOccurs="1" od:jetType="longinteger" od:sqlSType="int" od:nonNullable="yes" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="2/c/nHzgQ0i3IA//COzsug== " />
<od:fieldProperty name="ColumnWidth" type="3" value="-1" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="DecimalPlaces" type="2" value="255" />
<od:fieldProperty name="Required" type="1" value="1" />
<od:fieldProperty name="DisplayControl" type="3" value="111" />
<od:fieldProperty name="RowSourceType" type="10" value="Table/Query" />
<od:fieldProperty name="RowSource" type="12" value="SELECT [*VOKABULAR_WerkeAkteure].[ID], [*VOKABULAR_WerkeAkteure].[Beziehung] FROM [*VOKABULAR_WerkeAkteure] ORDER BY [Beziehung]; " />
<od:fieldProperty name="BoundColumn" type="3" value="1" />
<od:fieldProperty name="ColumnCount" type="3" value="2" />
<od:fieldProperty name="ColumnHeads" type="1" value="0" />
<od:fieldProperty name="ColumnWidths" type="10" value="0;2260" />
<od:fieldProperty name="ListRows" type="3" value="16" />
<od:fieldProperty name="ListWidth" type="10" value="2260Twip" />
<od:fieldProperty name="LimitToList" type="1" value="1" />
<od:fieldProperty name="AllowMultipleValues" type="1" value="0" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AllowValueListEdits" type="1" value="1" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKTEUR" minOccurs="1" od:jetType="longinteger" od:sqlSType="int" od:nonNullable="yes" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="IlS++nTmFkOJ2cLDq06+lA== " />
<od:fieldProperty name="ColumnWidth" type="3" value="-1" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="DecimalPlaces" type="2" value="255" />
<od:fieldProperty name="Required" type="1" value="1" />
<od:fieldProperty name="DisplayControl" type="3" value="111" />
<od:fieldProperty name="RowSourceType" type="10" value="Table/Query" />
<od:fieldProperty name="RowSource" type="12" value="SELECT [Akteure].[ID], [Akteure].[Name] FROM Akteure ORDER BY [Name]; " />
<od:fieldProperty name="BoundColumn" type="3" value="1" />
<od:fieldProperty name="ColumnCount" type="3" value="2" />
<od:fieldProperty name="ColumnHeads" type="1" value="0" />
<od:fieldProperty name="ColumnWidths" type="10" value="0;5550" />
<od:fieldProperty name="ListRows" type="3" value="16" />
<od:fieldProperty name="ListWidth" type="10" value="5550Twip" />
<od:fieldProperty name="LimitToList" type="1" value="1" />
<od:fieldProperty name="AllowMultipleValues" type="1" value="0" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AllowValueListEdits" type="1" value="1" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANMERKUNG" minOccurs="0" od:jetType="memo" od:sqlSType="ntext" od:textFormat="1">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="TextFormat" type="2" value="1" />
<od:fieldProperty name="ColumnWidth" type="3" value="-1" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="Required" type="1" value="0" />
<od:fieldProperty name="AllowZeroLength" type="1" value="1" />
<od:fieldProperty name="IMEMode" type="2" value="0" />
<od:fieldProperty name="IMESentenceMode" type="2" value="3" />
<od:fieldProperty name="UnicodeCompression" type="1" value="1" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AppendOnly" type="1" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
<od:fieldProperty name="GUID" type="9" value="/sLxfe5OjUe1QtPWGDyTQg== " />
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="536870910" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element><xsd:element name="_x002A_RELATION_BaendeReihen">
<xsd:annotation>
<xsd:appinfo>
<od:index index-name="*VOKABULAR_Reihe*RELATION_BaendeReihen" index-key="BEZIEHUNG " primary="no" unique="no" clustered="no" order="asc" />
<od:index index-name="Baende*RELATION_BaendeReihen" index-key="BAND " primary="no" unique="no" clustered="no" order="asc" />
<od:index index-name="Reihen*RELATION_BaendeReihen" index-key="REIHE " primary="no" unique="no" clustered="no" order="asc" />
<od:tableProperty name="PublishToWeb" type="2" value="1" />
<od:tableProperty name="Orientation" type="2" value="0" />
<od:tableProperty name="OrderByOn" type="1" value="0" />
<od:tableProperty name="NameMap" type="11" value="CswOVQAAAACdT+xu9DRuQqrGtWWDeNFXAAAAAFUZPJATDeZAAAAAAAAAAAAqAFIA RQBMAEEAVABJAE8ATgBfAEIAYQBlAG4AZABlAFIAZQBpAGgAZQBuAAAAAAAAAKZq PQ/NGxlGmijqM4aUwkgAAAAA7rsiiBMN5kAAAAAAAAAAAEIAYQBlAG4AZABlAAAA AAAAACH6IlGV2adHgMTMGvVgQmsHAAAApmo9D80bGUaaKOozhpTCSEkARAAAAAAA AACGcOfFPsjIQLzPPHLxXIVQBwAAAKZqPQ/NGxlGmijqM4aUwkhTAE8AUgBUAEkA RQBSAFQASQBUAEUATAAAAAAAAADKza3wwa3CTojQ3sN2CqJ3BwAAAKZqPQ/NGxlG mijqM4aUwkhKAEEASABSAAAAAAAAAHbscG6RnRVHvttVhAEh1FsHAAAAnU/sbvQ0 bkKqxrVlg3jRV0IAQQBOAEQAAAAAAAAAWuDr59WbPEeG+ZgIV86ToQAAAAC3tSKI Ew3mQAAAAAAAAAAAKgBWAE8ASwBBAEIAVQBMAEEAUgBfAFIAZQBpAGgAZQAAAAAA AACAA4LVADKtTZws08VJMptiBwAAAFrg6+fVmzxHhvmYCFfOk6FJAEQAAAAAAAAA k97IV48eSkGsHrtBHIRDrwcAAABa4Ovn1Zs8R4b5mAhXzpOhQgBFAFoASQBFAEgA VQBOAEcAAAAAAAAADLbrGCmYn0iphEYThqd7EQcAAACdT+xu9DRuQqrGtWWDeNFX QgBFAFoASQBFAEgAVQBOAEcAAAAAAAAAcq6r3GwmtUCT0aBBaFotyAAAAAAkwiKI Ew3mQAAAAAAAAAAAUgBlAGkAaABlAG4AAAAAAAAAzOXbN2SO8kWgwB8JQaxpEwcA AAByrqvcbCa1QJPRoEFoWi3ISQBEAAAAAAAAANjmyZkkL01PjerLGiAlB1MHAAAA cq6r3GwmtUCT0aBBaFotyFMATwBSAFQASQBFAFIATgBBAE0ARQAAAAAAAADzJHWM IYUlTaI3dYc8nDk/BwAAAJ1P7G70NG5Cqsa1ZYN40VdSAEUASQBIAEUAAAAAAAAA xkHWDETumU6VP+rWzOSljwcAAACdT+xu9DRuQqrGtWWDeNFXQQBOAE0ARQBSAEsA VQBOAEcARQBOAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMAAAABQAAAAAAAAAAAAAA AAAAAAAA " />
<od:tableProperty name="DefaultView" type="2" value="2" />
<od:tableProperty name="GUID" type="9" value="nU/sbvQ0bkKqxrVlg3jRVw== " />
<od:tableProperty name="DisplayViewsOnSharePointSite" type="2" value="1" />
<od:tableProperty name="TotalsRow" type="1" value="0" />
<od:tableProperty name="FilterOnLoad" type="1" value="0" />
<od:tableProperty name="OrderByOnLoad" type="1" value="1" />
<od:tableProperty name="HideNewField" type="1" value="0" />
<od:tableProperty name="BackTint" type="6" value="100" />
<od:tableProperty name="BackShade" type="6" value="100" />
<od:tableProperty name="ThemeFontIndex" type="4" value="1" />
<od:tableProperty name="AlternateBackThemeColorIndex" type="4" value="1" />
<od:tableProperty name="AlternateBackTint" type="6" value="100" />
<od:tableProperty name="AlternateBackShade" type="6" value="95" />
<od:tableProperty name="ReadOnlyWhenDisconnected" type="1" value="0" />
<od:tableProperty name="DatasheetGridlinesThemeColorIndex" type="4" value="3" />
<od:tableProperty name="DatasheetForeThemeColorIndex" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAND" minOccurs="1" od:jetType="longinteger" od:sqlSType="int" od:nonNullable="yes" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="duxwbpGdFUe+21WEASHUWw== " />
<od:fieldProperty name="ColumnWidth" type="3" value="11030" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="DecimalPlaces" type="2" value="255" />
<od:fieldProperty name="Required" type="1" value="1" />
<od:fieldProperty name="DisplayControl" type="3" value="111" />
<od:fieldProperty name="RowSourceType" type="10" value="Table/Query" />
<od:fieldProperty name="RowSource" type="12" value="SELECT [Baende].[ID], [Baende].[SORTIERTITEL], [Baende].[JAHR] FROM Baende ORDER BY [SORTIERTITEL], [JAHR]; " />
<od:fieldProperty name="BoundColumn" type="3" value="1" />
<od:fieldProperty name="ColumnCount" type="3" value="3" />
<od:fieldProperty name="ColumnHeads" type="1" value="0" />
<od:fieldProperty name="ColumnWidths" type="10" value="0;5890;1440" />
<od:fieldProperty name="ListRows" type="3" value="16" />
<od:fieldProperty name="ListWidth" type="10" value="7330Twip" />
<od:fieldProperty name="LimitToList" type="1" value="1" />
<od:fieldProperty name="AllowMultipleValues" type="1" value="0" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AllowValueListEdits" type="1" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEZIEHUNG" minOccurs="1" od:jetType="longinteger" od:sqlSType="int" od:nonNullable="yes" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="DLbrGCmYn0iphEYThqd7EQ== " />
<od:fieldProperty name="ColumnWidth" type="3" value="-1" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="DecimalPlaces" type="2" value="255" />
<od:fieldProperty name="Required" type="1" value="1" />
<od:fieldProperty name="DisplayControl" type="3" value="111" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
<od:fieldProperty name="RowSourceType" type="10" value="Table/Query" />
<od:fieldProperty name="RowSource" type="12" value="SELECT [*VOKABULAR_Reihe].[ID], [*VOKABULAR_Reihe].[BEZIEHUNG] FROM [*VOKABULAR_Reihe] ORDER BY [BEZIEHUNG]; " />
<od:fieldProperty name="BoundColumn" type="3" value="1" />
<od:fieldProperty name="ColumnCount" type="3" value="2" />
<od:fieldProperty name="ColumnHeads" type="1" value="0" />
<od:fieldProperty name="ColumnWidths" type="10" value="0;4540" />
<od:fieldProperty name="ListRows" type="3" value="16" />
<od:fieldProperty name="ListWidth" type="10" value="4540Twip" />
<od:fieldProperty name="LimitToList" type="1" value="1" />
<od:fieldProperty name="AllowMultipleValues" type="1" value="0" />
<od:fieldProperty name="AllowValueListEdits" type="1" value="0" />
<od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0" />
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="REIHE" minOccurs="1" od:jetType="longinteger" od:sqlSType="int" od:nonNullable="yes" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="8yR1jCGFJU2iN3WHPJw5Pw== " />
<od:fieldProperty name="ColumnWidth" type="3" value="9660" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="DecimalPlaces" type="2" value="255" />
<od:fieldProperty name="Required" type="1" value="1" />
<od:fieldProperty name="DisplayControl" type="3" value="111" />
<od:fieldProperty name="RowSourceType" type="10" value="Table/Query" />
<od:fieldProperty name="RowSource" type="12" value="SELECT [Reihen].[ID], [Reihen].[SORTIERNAME] FROM Reihen ORDER BY [SORTIERNAME]; " />
<od:fieldProperty name="BoundColumn" type="3" value="1" />
<od:fieldProperty name="ColumnCount" type="3" value="2" />
<od:fieldProperty name="ColumnHeads" type="1" value="0" />
<od:fieldProperty name="ColumnWidths" type="10" value="0;4810" />
<od:fieldProperty name="ListRows" type="3" value="16" />
<od:fieldProperty name="ListWidth" type="10" value="4810Twip" />
<od:fieldProperty name="LimitToList" type="1" value="1" />
<od:fieldProperty name="AllowMultipleValues" type="1" value="0" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AllowValueListEdits" type="1" value="1" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANMERKUNGEN" minOccurs="0" od:jetType="memo" od:sqlSType="ntext" od:textFormat="1">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="TextFormat" type="2" value="1" />
<od:fieldProperty name="GUID" type="9" value="xkHWDETumU6VP+rWzOSljw== " />
<od:fieldProperty name="ColumnWidth" type="3" value="10800" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="Required" type="1" value="0" />
<od:fieldProperty name="AllowZeroLength" type="1" value="1" />
<od:fieldProperty name="IMEMode" type="2" value="0" />
<od:fieldProperty name="IMESentenceMode" type="2" value="3" />
<od:fieldProperty name="UnicodeCompression" type="1" value="1" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AppendOnly" type="1" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="536870910" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element><xsd:element name="_x002A_RELATION_InhalteAkteure">
<xsd:annotation>
<xsd:appinfo>
<od:index index-name="*VOKABULAR_WerkeAkteure*RELATION_InhaltAkteure" index-key="BEZIEHUNG " primary="no" unique="no" clustered="no" order="asc" />
<od:index index-name="Akteure*RELATION_InhaltAkteure" index-key="AKTEUR " primary="no" unique="no" clustered="no" order="asc" />
<od:index index-name="Inhalte*RELATION_InhaltAkteure" index-key="INHALT " primary="no" unique="no" clustered="no" order="asc" />
<od:index index-name="PrimaryKey" index-key="INHALT BEZIEHUNG AKTEUR " primary="yes" unique="yes" clustered="no" order="asc asc asc" />
<od:tableProperty name="PublishToWeb" type="2" value="1" />
<od:tableProperty name="Orientation" type="2" value="0" />
<od:tableProperty name="OrderByOn" type="1" value="0" />
<od:tableProperty name="NameMap" type="11" value="CswOVQAAAADuu0mUsNvMQaOTFATcSZ+mAAAAAF6v1o4TDeZAAAAAAAAAAAAqAFIA RQBMAEEAVABJAE8ATgBfAEkAbgBoAGEAbAB0AGUAQQBrAHQAZQB1AHIAZQAAAAAA AAC9HoA/hsk7RY1hTf/rbRliAAAAAO27IogTDeZAAAAAAAAAAABJAG4AaABhAGwA dABlAAAAAAAAAAsln6Wea/VDvxRnKTZohSgHAAAAvR6AP4bJO0WNYU3/620ZYkkA RAAAAAAAAAD1fjo5xvF8SaFKctWZbZ72BwAAAL0egD+GyTtFjWFN/+ttGWJCAEEA TgBEAAAAAAAAAGlvdK9//6FPhJZ7T4POcm0HAAAAvR6AP4bJO0WNYU3/620ZYk8A QgBKAEUASwBUAE4AVQBNAE0ARQBSAAAAAAAAAEVW1wLVKgBBlt009XENq2wHAAAA 7rtJlLDbzEGjkxQE3EmfpkkATgBIAEEATABUAAAAAAAAAJQbGvbl+89IjRWPPDXx LPgAAAAAt7UiiBMN5kAAAAAAAAAAACoAVgBPAEsAQQBCAFUATABBAFIAXwBXAGUA cgBrAGUAQQBrAHQAZQB1AHIAZQAAAAAAAABUvX3Af2SUR5/FgeaysYa5BwAAAJQb Gvbl+89IjRWPPDXxLPhJAEQAAAAAAAAAPgIzqTiW60+QzSeCpvV4UgcAAACUGxr2 5fvPSI0Vjzw18Sz4QgBlAHoAaQBlAGgAdQBuAGcAAAAAAAAABA4XczIYukKZ3D1Y OyRMgAcAAADuu0mUsNvMQaOTFATcSZ+mQgBFAFoASQBFAEgAVQBOAEcAAAAAAAAA 6WMQChiPyU21McB2KdZdwwAAAADuuyKIEw3mQAAAAAAAAAAAQQBrAHQAZQB1AHIA ZQAAAAAAAADg1w4JM2eXSZyMpoodqruPBwAAAOljEAoYj8lNtTHAdinWXcNJAEQA AAAAAAAAExZtMWxQ5Uy3c1L86w7TMAcAAADpYxAKGI/JTbUxwHYp1l3DTgBBAE0A RQAAAAAAAAAI/vKqpPbCQ7Y5176j+IFpBwAAAO67SZSw28xBo5MUBNxJn6ZBAEsA VABFAFUAUgAAAAAAAABu+OzYZA5ZRI7iNnVpsaZ/BwAAAO67SZSw28xBo5MUBNxJ n6ZBAE4ATQBFAFIASwBVAE4ARwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADAAAAAUA AAAAAAAAAAAAAAAAAAAAAA== " />
<od:tableProperty name="DefaultView" type="2" value="2" />
<od:tableProperty name="GUID" type="9" value="7rtJlLDbzEGjkxQE3Emfpg== " />
<od:tableProperty name="DisplayViewsOnSharePointSite" type="2" value="1" />
<od:tableProperty name="TotalsRow" type="1" value="0" />
<od:tableProperty name="FilterOnLoad" type="1" value="0" />
<od:tableProperty name="OrderByOnLoad" type="1" value="1" />
<od:tableProperty name="HideNewField" type="1" value="0" />
<od:tableProperty name="BackTint" type="6" value="100" />
<od:tableProperty name="BackShade" type="6" value="100" />
<od:tableProperty name="ThemeFontIndex" type="4" value="1" />
<od:tableProperty name="AlternateBackThemeColorIndex" type="4" value="1" />
<od:tableProperty name="AlternateBackTint" type="6" value="100" />
<od:tableProperty name="AlternateBackShade" type="6" value="95" />
<od:tableProperty name="ReadOnlyWhenDisconnected" type="1" value="0" />
<od:tableProperty name="DatasheetGridlinesThemeColorIndex" type="4" value="3" />
<od:tableProperty name="DatasheetForeThemeColorIndex" type="4" value="0" />
</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="INHALT" minOccurs="1" od:jetType="longinteger" od:sqlSType="int" od:nonNullable="yes" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="RVbXAtUqAEGW3TT1cQ2rbA== " />
<od:fieldProperty name="ColumnWidth" type="3" value="-1" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="DecimalPlaces" type="2" value="255" />
<od:fieldProperty name="Required" type="1" value="1" />
<od:fieldProperty name="DisplayControl" type="3" value="111" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
<od:fieldProperty name="RowSourceType" type="10" value="Table/Query" />
<od:fieldProperty name="RowSource" type="12" value="SELECT [Inhalte].[ID], [Inhalte].[BAND], [Inhalte].[OBJEKTNUMMER] FROM Inhalte ORDER BY [BAND], [OBJEKTNUMMER]; " />
<od:fieldProperty name="BoundColumn" type="3" value="1" />
<od:fieldProperty name="ColumnCount" type="3" value="3" />
<od:fieldProperty name="ColumnHeads" type="1" value="0" />
<od:fieldProperty name="ColumnWidths" type="10" value="0;1440;1440" />
<od:fieldProperty name="ListRows" type="3" value="16" />
<od:fieldProperty name="ListWidth" type="10" value="2880Twip" />
<od:fieldProperty name="LimitToList" type="1" value="1" />
<od:fieldProperty name="AllowMultipleValues" type="1" value="0" />
<od:fieldProperty name="AllowValueListEdits" type="1" value="0" />
<od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0" />
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEZIEHUNG" minOccurs="1" od:jetType="longinteger" od:sqlSType="int" od:nonNullable="yes" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="BA4XczIYukKZ3D1YOyRMgA== " />
<od:fieldProperty name="ColumnWidth" type="3" value="-1" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="DecimalPlaces" type="2" value="255" />
<od:fieldProperty name="Required" type="1" value="1" />
<od:fieldProperty name="DisplayControl" type="3" value="111" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
<od:fieldProperty name="RowSourceType" type="10" value="Table/Query" />
<od:fieldProperty name="RowSource" type="12" value="SELECT [*VOKABULAR_WerkeAkteure].[ID], [*VOKABULAR_WerkeAkteure].[Beziehung] FROM [*VOKABULAR_WerkeAkteure] ORDER BY [Beziehung]; " />
<od:fieldProperty name="BoundColumn" type="3" value="1" />
<od:fieldProperty name="ColumnCount" type="3" value="2" />
<od:fieldProperty name="ColumnHeads" type="1" value="0" />
<od:fieldProperty name="ColumnWidths" type="10" value="0;2320" />
<od:fieldProperty name="ListRows" type="3" value="16" />
<od:fieldProperty name="ListWidth" type="10" value="2320Twip" />
<od:fieldProperty name="LimitToList" type="1" value="1" />
<od:fieldProperty name="AllowMultipleValues" type="1" value="0" />
<od:fieldProperty name="AllowValueListEdits" type="1" value="1" />
<od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0" />
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKTEUR" minOccurs="1" od:jetType="longinteger" od:sqlSType="int" od:nonNullable="yes" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="CP7yqqT2wkO2Ode+o/iBaQ== " />
<od:fieldProperty name="ColumnWidth" type="3" value="-1" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="DecimalPlaces" type="2" value="255" />
<od:fieldProperty name="Required" type="1" value="1" />
<od:fieldProperty name="DisplayControl" type="3" value="111" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
<od:fieldProperty name="RowSourceType" type="10" value="Table/Query" />
<od:fieldProperty name="RowSource" type="12" value="SELECT [Akteure].[ID], [Akteure].[NAME] FROM Akteure ORDER BY [NAME]; " />
<od:fieldProperty name="BoundColumn" type="3" value="1" />
<od:fieldProperty name="ColumnCount" type="3" value="2" />
<od:fieldProperty name="ColumnHeads" type="1" value="0" />
<od:fieldProperty name="ColumnWidths" type="10" value="0;5690" />
<od:fieldProperty name="ListRows" type="3" value="16" />
<od:fieldProperty name="ListWidth" type="10" value="5690Twip" />
<od:fieldProperty name="LimitToList" type="1" value="1" />
<od:fieldProperty name="AllowMultipleValues" type="1" value="0" />
<od:fieldProperty name="AllowValueListEdits" type="1" value="1" />
<od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0" />
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ANMERKUNG" minOccurs="0" od:jetType="memo" od:sqlSType="ntext" od:textFormat="1">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="TextFormat" type="2" value="1" />
<od:fieldProperty name="ColumnWidth" type="3" value="16040" />
<od:fieldProperty name="ColumnOrder" type="3" value="0" />
<od:fieldProperty name="ColumnHidden" type="1" value="0" />
<od:fieldProperty name="Required" type="1" value="0" />
<od:fieldProperty name="AllowZeroLength" type="1" value="1" />
<od:fieldProperty name="IMEMode" type="2" value="0" />
<od:fieldProperty name="IMESentenceMode" type="2" value="3" />
<od:fieldProperty name="UnicodeCompression" type="1" value="1" />
<od:fieldProperty name="TextAlign" type="2" value="0" />
<od:fieldProperty name="AppendOnly" type="1" value="0" />
<od:fieldProperty name="AggregateType" type="4" value="-1" />
<od:fieldProperty name="ResultType" type="2" value="0" />
<od:fieldProperty name="CurrencyLCID" type="4" value="0" />
<od:fieldProperty name="GUID" type="9" value="bvjs2GQOWUSO4jZ1abGmfw== " />
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="536870910" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element></xsd:schema>
