muster/_RELATION_Inhalte-Akteure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
<xsd:element name="dataroot">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="_x002A_RELATION_Inhalte-Akteure" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="generated" type="xsd:dateTime"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="_x002A_RELATION_Inhalte-Akteure">
<xsd:annotation>
<xsd:appinfo>
<od:index index-name="AkteureRELATION_Manifestation-Akteure" index-key="Akteur " primary="no" unique="no" clustered="no" order="asc"/>
<od:index index-name="InhalteRELATION_Inhalte-Akteure" index-key="Inhalt " primary="no" unique="no" clustered="no" order="asc"/>
<od:index index-name="PrimaryKey" index-key="Inhalt Beziehung Akteur " primary="yes" unique="yes" clustered="no" order="asc asc asc"/>
<od:index index-name="VOKABULAR_zu-AkteurRELATION_Manifestation-Akteure" index-key="Beziehung " primary="no" unique="no" clustered="no" order="asc"/>
<od:tableProperty name="PublishToWeb" type="2" value="1"/>
<od:tableProperty name="Orientation" type="2" value="0"/>
<od:tableProperty name="OrderByOn" type="1" value="0"/>
<od:tableProperty name="NameMap" type="11" value="CswOVQAAAADHaA+m9lLVSoL6pb7oFucgAAAAAO/QJ+uSAeZAAAAAAAAAAAAqAFIA
RQBMAEEAVABJAE8ATgBfAEkAbgBoAGEAbAB0AGUALQBBAGsAdABlAHUAcgBlAAAA
AAAAAGs0imaVWFFHjSHnsUfbwjIAAAAA1Jks5JIB5kAAAAAAAAAAAEkAbgBoAGEA
bAB0AGUAAAAAAAAAByPvYDxed0WK+2snrN3vawcAAABrNIpmlVhRR40h57FH28Iy
SQBEAAAAAAAAANiF5ULf3BdDns8xqVCojwUHAAAAazSKZpVYUUeNIeexR9vCMlMA
bwByAHQAaQBlAHIAdABpAHQAZQBsAAAAAAAAAGMlWIcKp5xDqRurkKQqm9gHAAAA
azSKZpVYUUeNIeexR9vCMk8AYgBqAGUAawB0AG4AdQBtAG0AZQByAAAAAAAAAGg6
4/miLphLiIKyW65J4+AHAAAAazSKZpVYUUeNIeexR9vCMlQAeQBwAAAAAAAAAGSB
6VkFrCNFijcV3V5VcwoHAAAAx2gPpvZS1UqC+qW+6BbnIEkAbgBoAGEAbAB0AAAA
AAAAAJu5bV9XTZJOgef9dmrTJhoAAAAAyMOQaXMB5kAAAAAAAAAAACoAVgBPAEsA
QQBCAFUATABBAFIAXwB6AHUALQBBAGsAdABlAHUAcgAAAAAAAAAqN8VOy84gQaXg
3NSURtfGBwAAAJu5bV9XTZJOgef9dmrTJhpJAEQAAAAAAAAAaa+Za5oGZkKKxSRC
vh9NdwcAAACbuW1fV02SToHn/XZq0yYaUAByAOQAZABpAGsAYQB0AAAAAAAAAFZV
Qhcm/3NIk1zUwPQ9WIoHAAAAx2gPpvZS1UqC+qW+6BbnIEIAZQB6AGkAZQBoAHUA
bgBnAAAAAAAAAMhyfnU3UQ5Dl0IJuDBD0/UAAAAA6tpmdJEB5kAAAAAAAAAAAEEA
awB0AGUAdQByAGUAAAAAAAAAcG4tvZMGW0CibCK56WRItAcAAADIcn51N1EOQ5dC
CbgwQ9P1SQBEAAAAAAAAANA5nURZMcRIjh2cPUN31gcHAAAAyHJ+dTdRDkOXQgm4
MEPT9VMAbwByAHQAaQBlAHIAbgBhAG0AZQAAAAAAAAAc29J1K9cJSoKNrsOQkjiF
BwAAAMhyfnU3UQ5Dl0IJuDBD0/VMAGUAYgBlAG4AcwBkAGEAdABlAG4AAAAAAAAA
mEZEcXiWEUGkYBwJlr++QQcAAADHaA+m9lLVSoL6pb7oFucgQQBrAHQAZQB1AHIA
AAAAAAAAGBUHgRjlikCi+PXF5LJHogcAAADHaA+m9lLVSoL6pb7oFucgQQBuAG0A
ZQByAGsAdQBuAGcAZQBuAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMAAAABQAAAAAA
AAAAAAAAAAAAAAAA
"/>
<od:tableProperty name="DefaultView" type="2" value="2"/>
<od:tableProperty name="GUID" type="9" value="x2gPpvZS1UqC+qW+6BbnIA==
"/>
<od:tableProperty name="DisplayViewsOnSharePointSite" type="2" value="1"/>
<od:tableProperty name="TotalsRow" type="1" value="0"/>
<od:tableProperty name="FilterOnLoad" type="1" value="0"/>
<od:tableProperty name="OrderByOnLoad" type="1" value="1"/>
<od:tableProperty name="HideNewField" type="1" value="0"/>
<od:tableProperty name="BackTint" type="6" value="100"/>
<od:tableProperty name="BackShade" type="6" value="100"/>
<od:tableProperty name="ThemeFontIndex" type="4" value="1"/>
<od:tableProperty name="AlternateBackThemeColorIndex" type="4" value="1"/>
<od:tableProperty name="AlternateBackTint" type="6" value="100"/>
<od:tableProperty name="AlternateBackShade" type="6" value="95"/>
<od:tableProperty name="ReadOnlyWhenDisconnected" type="1" value="0"/>
<od:tableProperty name="DatasheetGridlinesThemeColorIndex" type="4" value="3"/>
<od:tableProperty name="DatasheetForeThemeColorIndex" type="4" value="0"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="Inhalt" minOccurs="1" od:jetType="longinteger" od:sqlSType="int" od:nonNullable="yes" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="ZIHpWQWsI0WKNxXdXlVzCg==
"/>
<od:fieldProperty name="ColumnWidth" type="3" value="2550"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
<od:fieldProperty name="Required" type="1" value="1"/>
<od:fieldProperty name="DisplayControl" type="3" value="111"/>
<od:fieldProperty name="RowSourceType" type="10" value="Table/Query"/>
<od:fieldProperty name="RowSource" type="12" value="SELECT [Inhalte].[ID], [Inhalte].[Sortiertitel], [Inhalte].[Objektnummer], [Inhalte].[Typ] FROM Inhalte ORDER BY [Sortiertitel], [Objektnummer]; "/>
<od:fieldProperty name="BoundColumn" type="3" value="1"/>
<od:fieldProperty name="ColumnCount" type="3" value="4"/>
<od:fieldProperty name="ColumnHeads" type="1" value="0"/>
<od:fieldProperty name="ColumnWidths" type="10" value="0;1440;1440;1440"/>
<od:fieldProperty name="ListRows" type="3" value="16"/>
<od:fieldProperty name="ListWidth" type="10" value="4320Twip"/>
<od:fieldProperty name="LimitToList" type="1" value="1"/>
<od:fieldProperty name="AllowMultipleValues" type="1" value="0"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AllowValueListEdits" type="1" value="1"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="Beziehung" minOccurs="1" od:jetType="longinteger" od:sqlSType="int" od:nonNullable="yes" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="VlVCFyb/c0iTXNTA9D1Yig==
"/>
<od:fieldProperty name="ColumnWidth" type="3" value="2400"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
<od:fieldProperty name="Required" type="1" value="1"/>
<od:fieldProperty name="DisplayControl" type="3" value="111"/>
<od:fieldProperty name="RowSourceType" type="10" value="Table/Query"/>
<od:fieldProperty name="RowSource" type="12" value="SELECT [*VOKABULAR_zu-Akteur].ID, [*VOKABULAR_zu-Akteur].Prädikat FROM [*VOKABULAR_zu-Akteur] ORDER BY [Prädikat]; "/>
<od:fieldProperty name="BoundColumn" type="3" value="1"/>
<od:fieldProperty name="ColumnCount" type="3" value="2"/>
<od:fieldProperty name="ColumnHeads" type="1" value="0"/>
<od:fieldProperty name="ColumnWidths" type="10" value="0;1440"/>
<od:fieldProperty name="ListRows" type="3" value="16"/>
<od:fieldProperty name="ListWidth" type="10" value="1440Twip"/>
<od:fieldProperty name="LimitToList" type="1" value="1"/>
<od:fieldProperty name="AllowMultipleValues" type="1" value="0"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AllowValueListEdits" type="1" value="1"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="Akteur" minOccurs="1" od:jetType="longinteger" od:sqlSType="int" od:nonNullable="yes" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="mEZEcXiWEUGkYBwJlr++QQ==
"/>
<od:fieldProperty name="ColumnWidth" type="3" value="3510"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
<od:fieldProperty name="Required" type="1" value="1"/>
<od:fieldProperty name="DisplayControl" type="3" value="111"/>
<od:fieldProperty name="RowSourceType" type="10" value="Table/Query"/>
<od:fieldProperty name="RowSource" type="12" value="SELECT [Akteure].[ID], [Akteure].[Sortiername], [Akteure].[Lebensdaten] FROM Akteure ORDER BY [Sortiername], [Lebensdaten]; "/>
<od:fieldProperty name="BoundColumn" type="3" value="1"/>
<od:fieldProperty name="ColumnCount" type="3" value="3"/>
<od:fieldProperty name="ColumnHeads" type="1" value="0"/>
<od:fieldProperty name="ColumnWidths" type="10" value="0;1440;1440"/>
<od:fieldProperty name="ListRows" type="3" value="16"/>
<od:fieldProperty name="ListWidth" type="10" value="2880Twip"/>
<od:fieldProperty name="LimitToList" type="1" value="1"/>
<od:fieldProperty name="AllowMultipleValues" type="1" value="0"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AllowValueListEdits" type="1" value="1"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="Anmerkungen" minOccurs="0" od:jetType="memo" od:sqlSType="ntext">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="GBUHgRjlikCi+PXF5LJHog==
"/>
<od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
<od:fieldProperty name="IMEMode" type="2" value="0"/>
<od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
<od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
<od:fieldProperty name="TextFormat" type="2" value="0"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AppendOnly" type="1" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="536870910"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
